.baseGrid {
  height: 100vh;
  display: grid;
  grid-template-columns: var(--navbarWidth) 2fr 1fr;
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-template-areas:
    'navbar today alerts'
    'navbar desk alerts'
    'navbar desk alerts';
  row-gap: 1rem;
}

.navbar {
  grid-area: navbar;
  z-index: 100;
}

.today {
  grid-area: today;
}

.desk {
  grid-area: desk;
  display: flex;
}

.alerts {
  grid-area: alerts;
  display: flex;
}

/* MOBILE */
@media (max-width: 768px) {
  .baseGrid {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      'navbar' 
      'today' 
      'desk';
  }

  .alerts {
    display: none;
  }
}
