.alertsWrapper {
  width: 100%;
  grid-area: alerts;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding: var(--horizontalPadding) var(--verticalPadding);
  padding-left: 0;
}

.alertsHeader {
  display: flex;
  justify-content: space-between;
}

.alertsTotalStyle {
  align-items: center;
  justify-content: center;
  background-color: var(--danger);
  border-radius: 20px;
  color: var(--white);
  display: flex;
  font-weight: bold;
  height: var(--sectionTitleFontSize);
  min-width: calc(2 * var(--defaultFontSize));
  padding: 1px 5px;
}

.alertsTotalStyle span {
  color: var(--white);
  margin-left: 10px;
  font-size: 15px;
}

.alertsBodyWrapper {
  overflow: hidden;
  position: relative;
}

.alertsBody {
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 220px;
  height: 100%;
}

.alerts-decision--positive {
  color: var(--primary);
  border-bottom: 2px solid;
}
.alerts-decision--negative {
  color: var(--warning);
  border-bottom: 2px solid;
}

.alertsBody .modal-outer {
  height: 100%;
}

.alertsBody .modal-innerWrapper {
  width: 64%;
  display: flex;
}

.spinnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* MOBILE */
@media (max-width: 768px) {
  .alertsWrapper {
    padding: 1.5rem;
    margin: 0;
    box-sizing: border-box;
  }

  .alertsTotalStyle {
    border-radius: 12px;
    padding: 0.2rem 0.6rem;
    margin-right: 1rem;
  }
}