.openCasesTableWrapper {
  display: flex;
  flex: 1;
  overflow-y: auto;
  flex-direction: column;
}

.openCasesEmptyTable {
  overflow: hidden;
  position: relative;
}
.openCasesEmptyTableSearchString{
  text-align: center;
}
.customTableMobile{
  display: none;
}

.noOpenCases {
  position: absolute;
  width: 240px;
  height: 12px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.processDetailBtn {
  color: #8998ac;
  font-size: var(--smallFont);
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  border-radius: 4px;
  border: 0;
  padding: 0;
  background: transparent;
  text-decoration: underline;
}

/* makes alert tag header smaller */
.openCasesTableWrapper td:first-child,
.openCasesTableWrapper th:first-child {
  width: 3vw;
  overflow: visible;
  /* this is the expected overflow behaviour, but chrome seems to bug with it, will
    use a different rule until a permanent bug fix is found   
  overflow-x: visible;
  overflow-y: hidden; */
}

.alertTagWrapper {
  position: relative;
  height: calc(1.5 * var(--smallFont));
  /* height 100% doesn't have expected behavior, known "bug" (?) */
  width: 100%;
}

.emptyAlert .alertTag {
  background-color: var(--pt-green);
}

.alertTag {
  align-items: center;
  background-color: var(--danger);
  border-radius: 20px;
  color: var(--white);
  font-weight: bold;
  height: var(--sectionTitleFontSize);
  justify-content: center;
  border: none;
  width: calc(2 * var(--defaultFontSize));
  display: flex;
  margin-left: 10px;
}

.alertTagSigla {
  opacity: 0;
  position: relative;
  /*parent + td padding top and bottom */
  height: calc(100% + 10px);
  color: var(--white);
  z-index: 1;
  background-color: var(--danger);
  font-weight: bold;
  text-align: left;
  font-size: 10px;
  border: none;
  left: 0;
  top: 0;
  border-radius: 0.5em;
}

.alertTagSigla p {
  margin: 0 auto;
}

.alertTagWrapper:hover .alertTagSigla,
.alertTagSigla:focus {
  opacity: 1;
  transition: opacity 0.5s;
  position: absolute;
  width: 24em;
}
.allBoxFilters{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--grayPagination)
}
.boxFilters{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 5px;
  height: 1.8rem;
  margin-top: 20px;
  font-size: 12px;
  
}
.boxFilters button{
  border: none;
  background: transparent;
  color: var(--grayPagination);
  border-radius: 5px;
  margin-left: 3px;
  height: 2.5rem;
  width: 100px;
  font-size: 12px;
}
.boxFilters button:nth-child(2){
  border: 0.5px #EEEEEE solid;
}
.boxFilters button:nth-child(3){
  background-color: #28A7E0;
  color: var(--white);
}
.boxFilters button:nth-child(4){
  background: rgb(248, 189, 108);
  color: var(--white);
}
.boxFilters button:nth-child(5){
  background : rgb(248, 108, 114);
  color: var(--white);
}
.boxFilters button:hover{
  color: var(--white);
  opacity: 0.8;
}
.boxFilters button:nth-child(2){
  color: var(--grayPagination);
}

@media (min-width: 1780px) {
  .allBoxFilters{
    margin-top: 20px;
  }
}

@media (min-width:820px) and (max-width: 1200px) {
  .allBoxFilters{
   margin-top: 83px;
  }
 
}

/* PHONES */
@media (max-width: 480px) {
  .allBoxFilters {
    display: flex;
    flex-direction: column;
  }
  .boxFilters{
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
  }
  .boxFilters p{
    font-size: 10px;
  }
 
  .boxFilters button{
    width: 70px;
    height: 35px;
    display: flex;
    justify-content: space-around;
  }
  .customTableMobile{
    display: block;
  }
  .customTableWeb{
    display: none;
  }
  .openCasesTableWrapper th:first-child {
    width: 13vw;
  }

}

