.openCases-chartsWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.openCases-tableWrapper {
  display: flex;
  flex: 1;
  overflow-y: auto;
  flex-direction: column;
}

.pagination-number-button {
  border: 0;
  background-color: transparent;
  color: var(--grayPagination);
}

.pagination-number-button.active {
  color: var(--primary);
  text-decoration: underline;
}

.empty-table {
  overflow: hidden;
  position: relative;
}

.no-openCases {
  position: absolute;
  width: 240px;
  height: 12px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

/* makes alert tag header smaller */
.openCases-tableWrapper td:first-child, .openCases-tableWrapper th:first-child {
  width: 3vw;
  overflow-x: visible;
  overflow-y: hidden;
}
 .alert-tag-wrapper {
  position: relative;
  height: calc( 1.5 * var(--smallFont)); 
  /* height 100% doesn't have expected behavior, known "bug" (?) */
  width: 100%;
}

.alert-tag {
  align-items: center;
  background-color: var(--danger);
  border-radius: 20px;
  color: var(--white);
  font-weight: bold;
  height: var(--sectionTitleFontSize);
  justify-content: center;
  border: none;
  width: calc(2 * var(--defaultFontSize));
  display: flex;

}
button.alert-tag-sigla {
  opacity: 0;
  position: relative;
  width: 15vh;
  height: calc(var(--sectionTitleFontSize) * 1.5);
  color: var(--white);
  z-index: 1;
  background-color: var(--danger);
  font-weight: bold;
  text-align: left;
  font-size: 11px;
  border: none;
  display: flex;
  bottom: 3vh;
} 
button.alert-tag-sigla > p.paragraph-tag-sigla{
  font-weight: bold ;
}
button.alert-tag-sigla p{
  margin: 0 auto;
  font-weight: 300 ;
  margin-top: 5px;
  display: block;

}
.alert-tag-wrapper:hover .alert-tag-sigla{
  opacity: 1;
  transition: opacity 0.3s;
}