.mainPagination{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}
.btnPaginationItem > button{
    color: var(--grayPagination);
    display: flex;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    flex-direction: row;
    font-family: var(--defaultPagination);
    font-size: 15px;
    margin-top: 10px;
    opacity: 1;
}
.mainPagination > span{
    margin-top: 10px;
}
.btnPaginationItem > button span::after {
    visibility: visible;
    opacity: 1;
    content: '';
    border-style: solid;
    border-color: var(--grayPagination);
    background-color: var(--grayPagination);
    border-width: var(--selectorArrowSize);
    margin: 10px;
}