.radarModalOuter {
  position: relative;
  height: 70vh;
  width: 55vw;
  display: grid; 
  /* margin: 0 20px; */
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: 100%;
}

.radarModalMain {
  grid-column-start: span 2;
  padding: 25px 35px;
  display: flex;
  flex-direction: column;
}

.radarModalMenu {
  background-color: var(--lightBlue);
  padding: 25px 15px;
  height: calc(100% - 50px);
  border-radius: 0 10px 10px 0;
}

.radarModalMenu h3 {
  display: inline;
  font-weight: bold;
}

.radarModalSearching {
  left: calc(-100% + 29px);
}

.radarModalMenuHeader {
  height: 7%;
  position: relative;
  overflow: hidden;
}

.radarModalHeaderSlider {
  position: absolute;
  left: 1px;
  top: 0;
  height: 80%;
  display: flex;
  justify-content: space-between;
  width: calc(200% - 30px);
  transition: left 1s;
}

.radarModalHeaderSlider :first-child {
  width: calc(50% + 1px);
  overflow: hidden;
}

.radarModalHeaderSlider :nth-child(2) {
  display: flex;
  justify-content: center;
  width: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
}
.radarModalHeaderSlider :nth-child(3) {
  width: calc(50%);
}

.radarModalHeaderSlider :nth-child(3) input {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  height: 100%;
}

.radarModalMenuList {
  height: 93%;
  overflow-y: auto;
}


.radarModalMenuList ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.radarModalMenuList button {
  background-color: transparent;
  border: none;
  color: black;
  font-family: var(--defaultFont);
  font-weight: bold;
  font-size: var(--smallFont);
  text-align: left;
  margin: 5px;
}

.radarModalMenuList button:active {
  background-color: gray;
}

.radarModalMenuList button span {
  color: var(--darkBlue);
  font-weight: normal;
  display: block;
  text-transform: capitalize;
}

.radarModalIconWrapper {
  background-color: white;
  width: 15px;
  height: 15px;
}

.radarModalClose button {
  display: contents;
  font-size: 2em;
  color: #ffffff;
}

.radarModalMainHeader {
  background-color: white;
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.radarModalMainHeader h1 {
  margin: 0;
}

.radarModalMainHeader p {
  margin-bottom: 0;
}

.radarModalMinGraph {
  flex: 7.5;
  display: flex;
  align-items: center;
}

.radarModalMinSubtitles {
  flex: 1;
  display: flex;
}

div .radarModalMainSubtitlesItem:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5vh;
  height: 2px;
}

.radarModalMainSubtitlesItem {
  color: var(--dark);
  display: flex;
  flex-wrap: wrap;
  font-size: var(--smallFont);
  font-weight: bold;
  position: relative;
  padding-top: 1vh;
  text-transform: capitalize;
}

.radarModalMainSubtitlesItem:first-child {
  padding-right: 60px;
}

.radarModalMainSubtitlesItem:first-child:before {
  background-color: #009bff;
}

.radarModalMainSubtitlesItem:nth-child(2):before {
  background-color: #c43a31;
}

@media (max-width:747px) {
  .radarModalMinGraph{
    justify-content: center;
    align-items: center;
  }
  .radarModalMinSubtitles{
    justify-content: center;
    align-items: center;
  }
  .radarModalMainSubtitlesItem{
    font-size: clamp(0.6rem, 1.5vw, 1rem);
  }
  .radarModalOuter{
    font-size: var(--modal-default-font-size);
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
  .radarModalMenu{
    border-radius: 0;
  } 
}

@media (min-width:747px) and (max-width:1130px) {
  .radarModalOuter{
    width: 80vw;
  }
  .radarModalMain{
    overflow-y: scroll;
  }
  .radarModalMenu h3 {
    font-size: min(1.2vw, 1.2rem);
  }
}