.tutelaGrid {
  grid-template-areas:
    'today today radar alerts'
    'today today radar alerts'
    'today today radar alerts'
    'today today radar alerts'
    'desk desk radar alerts'
    'desk desk radar alerts'
    'desk desk processes alerts '
    'desk desk processes alerts '
    'desk desk processes alerts '
    'desk desk processes alerts'
    'desk desk processes alerts'
    'desk desk processes alerts';
}

/* TABLETS */
@media (min-width: 481px) and (max-width: 1025px) {
  .tutelaGrid {
    grid-template-areas:
      'today today'
      'desk desk'
      'radar alerts'
      'processes processes'
      'processes processes';
  }
}

/* PHONES */
@media (max-width: 480px) {
  .tutelaGrid {
    grid-template-areas:
    "today"
    "desk"
    "desk"
    "radar"
    "alerts"
    "processes"
    "processes "
    "processes";
  }
}