.tutelaGrid {
  grid-template-areas:
    'today today today alerts alerts'
    'today today today alerts alerts'
    'today today today alerts alerts'
    'today today today alerts alerts'
    'desk desk desk alerts alerts'
    'desk desk desk alerts alerts'
    'desk desk desk alerts alerts '
    'desk desk desk alerts alerts '
    'desk desk desk alerts alerts '
    'desk desk desk alerts alerts'
    'desk desk desk alerts alerts'
    'desk desk desk alerts alerts';
}

/* TABLETS */
@media (min-width: 481px) and (max-width: 1025px) {
  .tutelaGrid {
    grid-template-areas:
      'today today'
      'desk desk'
      'radar alerts'
      'processes processes'
      'processes processes';
  }
}

/* PHONES */
@media (max-width: 480px) {
  .tutelaGrid {
    grid-template-areas:
    "today"
    "desk"
    "desk"
    "radar"
    "alerts"
    "processes"
    "processes "
    "processes";
  }
}