.mainTitle {
  color: var(--darkBlue);
  font-family: var(--titleFont);
  font-size: var(--titleFontSize);
  font-weight: 200;
}

.mainTitleGlued {
  margin-top: 0;
}
@media (max-width: 480px) {
  .mainTitle {
    font-size: 1.45rem;
  }
}