.pipGrid {
  grid-template-areas:
    'today today today alerts alerts '
    'today today today alerts alerts '
    'today today today alerts alerts '
    'today today today alerts alerts '
    'desk desk desk alerts alerts'
    'desk desk desk alerts alerts'
    'desk desk desk alerts alerts'
    'desk desk desk alerts alerts'
    'desk desk desk alerts alerts'
    'desk desk desk alerts alerts'
    'desk desk desk alerts alerts'
    'desk desk desk alerts alerts'
}

/* TABLETS */
@media (min-width: 481px) and (max-width: 1025px) {
  .pipGrid {
    grid-template-areas:
      'today today'
      'desk desk'
      'radar alerts'
      'mainInvestigated indicators'
      'processingTime processingTime';
  }
}

/* PHONES */
@media (max-width: 480px) {
  .pipGrid {
    height: 450vh;
    grid-template-rows: repeat(9, minmax(0, 1fr));
    grid-template-areas:
      'today'
      'desk'
      'desk'
      'radar'
      'alerts'
      'mainInvestigated'
      'indicators'
      'processingTime'
      'processingTime';
  }
}
