@import '../styles.css';
@import '../../themes/index.css';

.page-tramitacao {
    grid-area: processingTime;
    display: flex;
    display: grid;
    height: 100vh;
    width: 100%;
    grid-gap: 3vh;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(12, minmax(0, 1fr));
    grid-template-areas:
    "texts processingTime mainBoxTime"
    "texts processingTime mainBoxTime"
}

.processingTimeChart {
    display: flex;
}
.tramitacao-texts {
    max-width: 200px;
    grid-area: texts;
}
.tramitacao-texts h3{
    color: var(--darkBlue);
    font-size: 24px;
    font-family: Rockwell;
}
.tramitacao-texts p{
    color: var(--dark);
    font-family: var(--defaultFont);
    font-size: 16px;
}
.main-box-time{
    font-size: 10px;
    color: var(--grayTexts);
    margin-left: 50px;
    grid-area: mainBoxTime;

}
.main-box-time h3{
    font-size: 18px;
}
.second-box-time{
    display: flex;
}
.pin{
    margin-top: 20px;
}
/* TABLETS */
@media (min-width: 481px) and (max-width: 1025px) {
    .page-tramitacao {
      height: 200vh;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
      "texts texts"
      "processingTime processingTime"
      "mainBoxTime";
    }
  }
