@import '../styles.css';
@import '../../themes/index.css';

.page-tramitacao {
    grid-area: processingTime;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-auto-rows: 100%;
    grid-template-areas:
    "texts graph mainBoxTime";
    overflow: hidden;
    /* height: 100vh;
    width: 100%;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(12, minmax(0, 1fr));
    grid-template-areas:
    "texts processingTime mainBoxTime"
    "texts processingTime mainBoxTime" */
}

.pt-Texts {
  grid-area: texts;
  color: var(--dark);
  font-size: calc(var(--defaultTextSize) * 0.75);
  font-family: var(--defaultFont);
  margin: 0;
}

.pt-mainBox {
  grid-area: mainBoxTime;
  color: var(--dark);
  font-size: calc(var(--defaultTextSize) * 0.5);
  font-family: var(--defaultFont);
}

.pt-graph {
  grid-area: graph;
}

.pt-legends {
  align-items: center;
  display: flex;
  height: 20%;
}

.pt-legends-icon {
  align-items: center;
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  margin-right: 10%;
}

.pt-legends-text {
  display: flex;
  flex: 5;
  flex-direction: column;
  flex-wrap: wrap;
}

.pt-legends-highlight {
  font-size: calc(var(--defaultTextSize) * 0.9);
}

/* .processingTimeChart {
    display: flex;
}
.tramitacao-texts {
    max-width: 200px;
    grid-area: texts;
}
.tramitacao-texts h3{
    color: var(--darkBlue);
    font-size: 24px;
    text-transform: uppercase;
    font-family: var(--defaultTitleProcessing);
    font-weight: var(--subtitleWeight);
}
.tramitacao-texts p{
    color: var(--dark);
    font-family: var(--defaultFont);
    font-size: 16px;
}
.main-box-time{
    font-size: 10px;
    color: var(--grayTexts);
    margin-left: 50px;
    grid-area: mainBoxTime;
    font-family: var(--subTitleProcessing);
}
.main-box-time h3{
    font-size: 18px;
    font-family: Lato-bold;
}
.second-box-time{
    display: flex;
}
.pin{
    margin-top: 20px;
} */

/* TABLETS */
@media (min-width: 481px) and (max-width: 1025px) {
    /* .page-tramitacao {
      height: 200vh;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
      "texts texts"
      "processingTime processingTime"
      "mainBoxTime";
    } */
    .page-tramitacao {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      /* grid-template-rows: repeat(2, minmax(0, 1fr)); */
      /* grid-template-columns: 60% 40%; */
      grid-template-rows: 33% 66%;
      grid-template-areas:
      "texts texts"
      "graph mainBoxTime";
    }

    .pt-mainBox {
      font-size: calc(var(--defaultTextSize) * 0.7);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .pt-legends-highlight {
      font-size: var(--defaultTextSize);
    }

    .pt-legends {
      height: auto;
    }

    .pt-legends-icon {
      margin-right: 0;
    }

    .pt-Texts p {
      width: 80%;
    }
}

/* PHONES */
@media (max-width: 480px) {
    /* .page-tramitacao {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 150vh;
      grid-template-columns: 100%;
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
      "texts"
      "processingTime"
      "mainBoxTime"
      "."
      "."
      ;
    } */
    .page-tramitacao {
      grid-template-columns: 100%;
      grid-template-rows: 15% 45% 40%;
      grid-template-areas:
      "texts"
      "graph"
      "mainBoxTime";
    }

    .pt-mainBox {
      font-size: var(--defaultTextSize);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .pt-legends-highlight {
      font-size: calc(var(--defaultTextSize) * 1.2);
    }
}
