.cases-chart-outer {
  background-color: transparent;
  border: 0;
  display: flex;
  height: 80%;
  padding: 0;
  width: 25%;
}

.cases-chart-graph {
  display: flex;
  flex: 1;
}

.cases-chart-subs {
  align-items: flex-end;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.cases-button-active {
  position: relative;
}
.cases-button-active::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top-width: 10px;
  border-top-style: solid;

  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-5px, 0);
}
