html {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.unavailableWrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.unavailableBanner {
  display: flex;
  margin-right: 3vw;
  width: 20vw;
}
.unavailableContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 74vw;
  height: 100%;
  margin: 0px 5vw;
}
.unavailableContent h1 {
  font: normal normal 900 90px/118px Roboto;
  letter-spacing: 0px;
  color: #374354;
}
.unavailableContent h2 {
  font: normal normal normal 31px/40px Roboto;
  letter-spacing: 0px;
  color: #374354;
  width: 320px;
  margin-left: auto;
}
.unavailableContent h3 {
  font: normal normal normal 24px/32px Roboto;
  letter-spacing: 0px;
  color: #4a4a4a;
  margin-bottom: 16px;
}
.unavailableContent h4 {
  font: normal normal normal 16px/26px Roboto;
  letter-spacing: -0.44px;
  color: #4a4a4a;
}
.unavailableContent small {
  color: var(--mediumGray);
  margin-bottom: 24px;
}
.unavaiblePromotronImg {
  position: relative;
}
.unavailableOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.unavailableOptions div {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}
.unavailableOptions div + div {
  margin-left: 32px;
}
section {
  display: flex;
  flex-direction: column;
}
.unavailableTitle {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}
.unavailableIntro {
  text-align: end;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.unavailableIntro p {
  color: var(--darkGray);
}
.unavailableBannerWrapper {
  width: 16vw;
}
.unavailableBannerImg {
  
  height:100%;
  width:100%;
}
.unavailableOptions .unavailableOptionHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.unavailableOptionHeader a {
  flex-basis: content;
  margin-left: 6%;
}
.unavailableOptionHeader button{
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid var(--mediumGray);
  padding: 5px 16px;
  color: var(--mediumGray);
}
.unavailableOptionHeader button:hover{
  border:1px solid var(--colorSuccess);
  background-color: var(--colorSuccess);
  color:white;
}
.unavailableOptions div small {
  color: var(--mediumGray);
}
