.unavailableWrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 100%;
  width: 100%;
  /* forces image to respect parent sizing on FF */
  /* https://support.mozilla.org/en-US/questions/935671 */
  overflow: hidden;
}

.unavailableBannerWrapper {
  grid-column: 1 / span 1;
}

.unavailableBannerImg {
  height:100%;
  width:100%;
}

.unavailableContent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column: 2 / 6;
  /* justify-content: center; */
  /* overflow: hidden; */
}

.unavailableTitle {
  background-color: pink;
  display: flex;
  flex-direction: row;
  grid-column: 1 / 6;
  grid-row: 1 / span 5;
  /* margin-bottom: 24px; */
}

.unavailableTitleBanner {
  width: 45%;
  /* position: relative; */
}

.unavailableTitleText {
  text-align: end;
  max-width: 50%;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-end; */
}

.unavailableSugestions {
  background-color: green;
  grid-column: 1 / 6;
  grid-row: 6 / span 4;
  /* flex: 1; */
}

/* ksxjiuhdwyfeg */

.unavailableContent h1 {
  font: normal normal 900 calc(var(--titleFontSize)* 2.5) var(--defaultFont);
  color: var(--colorMprj);
}
.unavailableContent h2 {
  font: normal normal normal calc(var(--titleFontSize)) var(--defaultFont);
  color: var(--colorMprj);
  width: 320px;
  margin-left: auto;
}
.unavailableContent h3 {
  font: normal normal normal var(--sectionTitleFontSize) var(--defaultFont);
  color: var(--darkWelcome);
  margin-bottom: 16px;
}
.unavailableContent h4 {
  font: normal normal normal var(--defaultFontSize) var(--defaultFont);
  color: var(--darkWelcome);
}
.unavailableContent p {
  font: normal normal normal var(--defaultFontSize) var(--defaultFont);  
}
.unavailableContent small {
  color: var(--mediumGray);
  margin-bottom: 24px;
}

.unavailableOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.unavailableOptions div {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  overflow: hidden;
}
.unavailableOptions img {
  width: 80%;
}
/* .unavailableOptions div + div {
  margin-left: 32px;
} */
/* section {
  display: flex;
  flex-direction: column;
} */

/* .unavailableTitleText p {
  color: var(--darkGray);
} */
/* .unavailableOptions .unavailableOptionHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
} */
/* .unavailableOptionHeader a {
  flex-basis: content;
  margin-left: 6%;
} */
/* .unavailableOptionHeader button{
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid var(--mediumGray);
  padding: 5px 16px;
  color: var(--mediumGray);
} */
/* .unavailableOptionHeader button:hover{
  border:1px solid var(--colorSuccess);
  background-color: var(--colorSuccess);
  color:white;
} */
/* .unavailableOptions div small {
  color: var(--mediumGray);
} */
