.unavailableWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  /* forces image to respect parent sizing on FF */
  /* https://support.mozilla.org/en-US/questions/935671 */
  overflow: hidden;
}

.unavailableBannerWrapper {
  width: 16vw;
}

.unavailableBannerImg {
  height:100%;
  width:100%;
}

.unavailableContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 2.5vw 5vw;
  width: 74vw;
  /* justify-content: center; */
  /* overflow: hidden; */
}

.unavailableTitle {
  background-color: pink;
  display: flex;
  flex-direction: row;
  height: 66%;
  /* justify-content: space-between; */
  /* margin-bottom: 24px; */
}

.unavailableTitleBanner {
  width: 45%;
  /* position: relative; */
}

.unavailableTitleText {
  /* text-align: end; */
  /* max-width: 50%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-end; */
}

.unavailableSugestions {
  background-color: green;
  height: 33%;
  /* flex: 1; */
}

/* ksxjiuhdwyfeg */

.unavailableContent h1 {
  font: normal normal 900 90px/118px Roboto;
  letter-spacing: 0px;
  color: #374354;
}
.unavailableContent h2 {
  font: normal normal normal 31px/40px Roboto;
  letter-spacing: 0px;
  color: #374354;
  width: 320px;
  margin-left: auto;
}
.unavailableContent h3 {
  font: normal normal normal 24px/32px Roboto;
  letter-spacing: 0px;
  color: #4a4a4a;
  margin-bottom: 16px;
}
.unavailableContent h4 {
  font: normal normal normal 16px/26px Roboto;
  letter-spacing: -0.44px;
  color: #4a4a4a;
}
.unavailableContent small {
  color: var(--mediumGray);
  margin-bottom: 24px;
}

.unavailableOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.unavailableOptions div {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}
/* .unavailableOptions div + div {
  margin-left: 32px;
} */
/* section {
  display: flex;
  flex-direction: column;
} */

/* .unavailableTitleText p {
  color: var(--darkGray);
} */
/* .unavailableOptions .unavailableOptionHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
} */
/* .unavailableOptionHeader a {
  flex-basis: content;
  margin-left: 6%;
} */
/* .unavailableOptionHeader button{
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid var(--mediumGray);
  padding: 5px 16px;
  color: var(--mediumGray);
} */
/* .unavailableOptionHeader button:hover{
  border:1px solid var(--colorSuccess);
  background-color: var(--colorSuccess);
  color:white;
} */
/* .unavailableOptions div small {
  color: var(--mediumGray);
} */
