{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "prettier/prettier": ["error"],
    "class-methods-use-this": "off",
    "no-use-before-define": "off",
  },
  "env": {
    "browser": true
  }
}
