.tablesCriminalOuter {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.3s linear;
}
.todayTextAreaCriminal{
  line-height: 1.5;
}
.todayTextAreaCriminal h2{
  font-size: 15px;
  background-color: #bddff0;
  max-width: 70px;
  color: #374354;
}
.todayTextAreaCriminal p{
  max-width: 250px;
  color: #A7A0A0;
}
.tableCriminalOuter {
  grid-area: criminalProcesses;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: -15px;
}
.tableBody {
  display: flex;
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
  /* overflow is problematic for height */
}
 
.mainCriminalOuterBoxSearch{
  display: flex;
  justify-content: space-between;
 
}
.mainCriminalOuterBoxSearch h2{
  margin-top: 30px;
}