:root {
  /* FONTS */
  --defaultFont: Roboto;

  --defaultFontSize: clamp(13px, 1.5vh, 18px);
  --titleFontSize: calc(var(--defaultFontSize) * 2);
  --sectionTitleFontSize: calc(var(--defaultFontSize) * 1.4);
  --TitleTextFontSize: calc(var(--defaultFontSize) * 1.2);
  --smallFont: clamp(10px, 1.2vh, 14px);

  /* SPACING */
  --unavailableContentPadding: 0.5vh 4vw;
  --verticalPadding: 2.5rem;
  --horizontalPadding:  1.1rem;

  /* WIDTHS */
  --navbarWidth: 2.8125rem;
  --navbarMobileWidth: 5rem;

/* COLORS */
  /* From our design system's page on Notion */

  /* Paleta Primária */
  --colorMprj: #374354;
  --colorThemeBlue: #BDDFF0;
  --colorSolidBlue: #28A7E0;
  --lightGray: #CFCFCF;
  --mediumGray: #B4B4B4;
  --darkWelcome: #4a4a4a;

  /* Alertas */
  --colorFailure: #F86C72;
  --colorWarning: #F8BD6C;
  --colorSuccess: #71D0A4;
  --colorAdm: #5C6FD9;
  --colorCsi: #192440;
  --colorVistas: #28A7E0;

  /* Gráficos */
  --colorIdentidade: #CA63F1;
  --colorOfficeProfile: #6D00FC;
  --colorParquetProfile: #FF0000;

  /* Login */
  --darkGray: #505050;

  /* Welcome Pages */
  --darkWelcome: #4a4a4a;
}

body {
  font-family: var(--defaultFont);
  margin: 0;
  color: var(--dark);
  font-size: var(--defaultFontSize);
}

/*.appOuter {
  height: 100vh;
  width: 100vw;
}*/

h3 {
  font-size: var(--defaultFontSize);
  font-weight: 400;
  text-transform: uppercase;
}

button {
  cursor: pointer;
}

/* Let's get this party started */
div::-webkit-scrollbar {
  width: 6px;
}

/* Track */
div::-webkit-scrollbar-track {
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* Handle */
div::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #8998ac;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); */
}
div::-webkit-scrollbar-thumb:window-inactive {
  /* background: rgba(255, 0, 0, 0.4); */
}

/* For firefox 64 and onwards*/
div {
  scrollbar-width: thin;
  scrollbar-color: #8998ac transparent;
} 