:root {
  /* FONTS */
  --defaultFont: Roboto;

  
  --defaultFontSize: clamp(12px, 1.5vh, 18px);
  --titleFontSize: calc(var(--defaultFontSize) * 2);
  --sectionTitleFontSize: calc(var(--defaultFontSize) * 1.4);

/* COLORS */
  /* From our design system's page on Notion */

  /* Paleta Primária */
  --colorMprj: #374354;
  --colorThemeBlue: #BDDFF0;
  --colorSolidBlue: #28A7E0;
  --lightGray: #CFCFCF;
  --mediumGray: #B4B4B4;
  --darkWelcome: #4a4a4a;


  /* Alertas */
  --colorFailure: #F86C72;
  --colorWarning: #F8BD6C;
  --colorSuccess: #71D0A4;
  --colorAdm: #5C6FD9;
  --colorCsi: #192440;
  --colorVistas: #28A7E0;

  /* Gráficos */
  --colorIdentidade: #CA63F1;
  --colorOfficeProfile: #6D00FC;
  --colorParquetProfile: #FF0000;

  /* Login */
  --darkGray: #505050;
}

body {
  font-family: var(--defaultFont);
  margin: 0;
}

.appOuter {
  height: 100vh;
  width: 100vw;
}
