.base-grid {
    display: grid;
    height: calc(100vh - 2 * var(--bodyPadding));
    width: calc(100vw - 2 * var(--bodyPadding));
    grid-column-gap: 4vh;
    grid-row-gap: 3vh;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(12, minmax(0, 1fr));
  }
  
  /* TABLETS */
  @media (min-width: 481px) and (max-width: 1025px) {
    .base-grid {
      /* 252 = sum of all rows + 4 grid gaps of 3vh */
      height: calc(252vh + var(--bodyPadding));
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: 33vh 66vh 50vh 50vh 40vh;
    }
  }
  
  /* PHONES */
  @media (max-width: 480px) {
    .base-grid {
      height: 400vh;
      grid-template-columns: 100%;
      grid-template-rows: repeat(8, minmax(0, 1fr));
    }
  }
  