.openCases-chartsWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.openCases-tableWrapper {
  display: flex;
  flex: 1;
  overflow-y: auto;
  flex-direction: column;
}

.pagination-number-button {
  border: 0;
  background-color: transparent;
  color: var(--grayPagination);
}

.pagination-number-button.active {
  color: var(--primary);
  text-decoration: underline;
}

.empty-table {
  overflow: hidden;
  position: relative;
}

.no-openCases {
  position: absolute;
  width: 240px;
  height: 12px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.openCases-tableWrapper td:first-child, .openCases-tableWrapper th:first-child {
  width: 42px;
}

button.alert-tag {
  background-color: red;
  border-radius: 8px;
  border: 0;
  width: 1.8vw;
  height: 1.8vh;
  color: white;
  font-size: var(--smallFont);
  font-weight: 600;
  padding: 0;
}

.alert-tag-sigla {
  display: none;
}
.alert-tag-sigla:hover{
  display: block;
}