:root {
  /* BODY */
  --heightScale: 100vh/1080;
  --widthScale: 100vw/1920;
  --bodyVerticalPadding: 2.5vh;
  --bodyHorizontalPadding: 5vh;

  /* COLORS */
  --triangleColor: var(--primary);
  --primary: #28a7e0;
  --secondary: #b5b5b5;
  --dark: #3b3b3b;
  --darkBlue: #374354;
  --success: #71d0a4;
  --warning: #f8bd6c;
  --danger: #f86c72;
  --white: #ffffff;
  --gray: #b5b5b5;
  --grayLight: #e8e8e8;
  --grayLinks: #cecece;
  --grayTexts: #b3b3b3;
  --grayTooltip: #555;
  --darkWelcome: #4a4a4a;
  --lightBlue: #bddff0;
  --grayPagination: #8998ac;
  --grayAlternative: #B4B4B4;


  --pt-turquoise: #56e8e1;
  --pt-pink: #ff0086;
  --pt-green: #42dca7;
  --pt-purple: #6d86ec;
  --pt-blue: #bddff0;

  --shadowColor: rgba(0, 0, 0, 0.3);

  /* FONTS */
  --defaultFont: Roboto;
  --titleFont: Roboto;
  --defaultFontSize: clamp(12px, 1.5vh, 18px);

  --titleFontSize: calc(var(--defaultFontSize) * 2);
  --titleFont: Roboto;
  --defaultWelcomeBold: 'Avenir Black', sans-serif;
  --defaultWelcome: 'Avenir Black', sans-serif;
  --sectionTitleFontSize: calc(var(--defaultFontSize) * 1.1);

  --smallFont: clamp(10px, 1.2vh, 14px);
  --sectionTitleFontSize: calc(var(--defaultFontSize) * 1.4);
  --featuredNumberFontSize: calc(var(--defaultFontSize) * 1.2);
  --spotlightSize: calc(var(--defaultFontSize) * 2);

  /* --defaultTitleProcessing: Rockwell; */
  /* --subtitleProcessing: MyriadPro-Regular; */
  /* --titleParagraphToday: 1.8vh; */

  /* --spotlightFont: Nunito Sans; */
  /* --spotlightWeight: 700; */

  /* --spotlightSubtitleSize: 0; */

  /* --spotilightActiveSize: calc(var(--spotlightSize) * 1.5); */

  /* --subtitleFont: Roboto Slab; */
  /* --subtitleWeight: regular; */

  /* --linkSize: calc(var(--defaultFontSize) * 1); */

  /* SIZING */
  /* --pagePadding: 2.5vh; */
  /* --pageMargin: 2.5vh; */

  /* --dashboardAreaMargin: 2vh; */

  /* --elementPadding: 1.5vh; */
}

/* TABLETS */
@media (min-width: 481px) and (max-width: 1025px) {
  :root {
    /* BODY */
    --widthScale: 200vw/1920;
    --bodyHorizontalPadding: 3vh;
    --bodyVerticalPadding: 1.5vh;

    /* --spotlightSize: 6vw; */
  }
}

/* PHONES */
@media (max-width: 480px) {
  :root {
    /* --spotlightSize: 7vw; */
  }
}
