html{
    overflow-x: hidden;
}

.wrapperWelcome {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    width: 814px;
}

.welcomeTexts {
    font: normal 21px Avenir;
    letter-spacing: 0px;
    color: #4A4A4A;
    opacity: 1;
}
.welcomeTexts h2 {
    font-size: 32px;
    opacity: 1;
    font-weight: 900;
}
  
.allBtns {
    display: flex;
    justify-content: space-between;
    width: inherit;
}
  
.wrapperWelcome button {
    width: 118px;
    cursor: pointer;
    height: 40px;
    margin: 10px;
    color: #4a4a4a;
    font-size: 21px;
    border: none;
}
  
.btnNext {
    background: #d6d6d6 0% 0% no-repeat padding-box;
    border-radius: 0px 20px 20px 0px;
    opacity: 1;
    border-color: #d6d6d6;
}
  
.btnPrevious {
    background: #d6d6d6 0% 0% no-repeat padding-box;
    border-radius: 20px 0px 0px 20px;
    opacity: 1;
    border-color: #d6d6d6;
}
  
.btnJumper {
    background: #efefef 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    border-color: #d6d6d6;
}
  
.btnStart {
    background: #5ff09d 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    border-color: #d6d6d6;
}

.welcomeBtns {
    display: flex;
    justify-content: flex-end;
    width: inherit;
}

.paBtns{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-flow: row;
    width: inherit;
}

.prevDiv{
    display: flex;
    justify-content: start;
}
    
@media (max-width: 480px) {
    .wrapperWelcome {
      display: flex;
      flex-direction: column;
    }
  
    .wrapperWelcome img {
      width: 100%;
    }
  
    .welcomeTexts {
      width: 100%;
    }
  
    .wrapperWelcome h2 {
      font-size: 22px;
    }
}
  