.wrapperWelcome {
    text-align: center;
}
  
.wrapperWelcome h2 {
    font-family: var(--defaultWelcomeBold);
    font-size: 32px;
    opacity: 1;
    color: var(--darkWelcome);
    font-weight: 900;
}
  
.wrapperWelcome p {
    font-family: var(--defaultWelcome);
    opacity: 1;
    padding: 19px;
}
  
.welcomeTexts {
    width: 797px;
}
  
.allBtns {
    display: flex;
    justify-content: space-between;
}
  
.allBtns button {
    width: 118px;
    cursor: pointer;
    height: 40px;
    margin: 10px;
    color: var(--darkWelcome);
    font-size: 21px;
    border: none;
}
  
.btnsWelcome button {
    width: 118px;
    cursor: pointer;
    height: 40px;
    margin: 10px;
    color: var(--darkWelcome);
    font-size: 21px;
    border: none;
}
  
.btnNext {
    background: #d6d6d6 0% 0% no-repeat padding-box;
    border-radius: 0px 20px 20px 0px;
    opacity: 1;
    border-color: #d6d6d6;
}
  
.btnPrevious {
    background: #d6d6d6 0% 0% no-repeat padding-box;
    border-radius: 20px 0px 0px 20px;
    opacity: 1;
    border-color: #d6d6d6;
}
  
.btnJumper {
    background: #efefef 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    border-color: #d6d6d6;
}
  
.btnStart {
    background: #5ff09d 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    border-color: #d6d6d6;
}
  
.divMainPrevious {
    display: flex;
    justify-content: flex-end;
}
  
.btnsWelcome {
    display: flex;
    justify-content: flex-end;
}
  
@media (max-width: 480px) {
    .wrapperWelcome {
      display: flex;
      flex-direction: column;
    }
  
    .wrapperWelcome img {
      width: 100%;
    }
  
    .welcomeTexts {
      width: 100%;
    }
  
    .wrapperWelcome h2 {
      font-size: 22px;
    }
}
  