.alertBadge-outerContainer {
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 3px 8px #00000029;
  display: flex;
  font-family: var(--defaultFont);
  margin: 1vh;
  font-size: 12px;
  line-height: 18px;
  color: var(--dark);
  font-weight: 500;
}

.alertBadge-leftContainer {
  align-items: center;
  background-color: gray;
  border-radius: 7px 0 0 7px;
  display: flex;
  justify-content: center;
  width: 61px;
}

.alertBadge-rightContainer {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 10px;
  padding: 10px;
}

.alertBadge-rightContainer a {
  color: orange;
  text-align: left;
}

.alertBadge-outerContainer:hover:first-child {
  padding-left: 10px;
}

.alertBadge-outerContainer:hover:first-child .alertBadge-linksContainer {
  margin-left: -10px;
}
.alertBadge-outerContainer:hover .alertBadge-leftContainer {
  display: none;
}

.alertBadge-outerContainer:hover .alertBadge-rightContainer {
  display: none;
}

.alertBadge-outerContainer:hover .alertBadge-linksContainer {
  animation: 3s ease-in 1s 1 reverse both running slidein;
  display: flex;
}

.alertBadge-linksContainer {
  cursor: pointer;
  min-height: 56px;
  width: 100%;
  align-items: center;
  background-color: gray;
  border-radius: 7px 7px 7px 7px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.alertBadge-linksContainer span {
  font-size: var(--smallFont);
  color: var(--white);
}
