.courtCases-outer {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.courtCases-ranking {
  color: var(--dark);
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: var(--defaultFont);
  font-size: calc(var(--defaultTextSize) * 0.8);
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.courtCases-li {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  padding: 1vh;
}

.courtCases-featured {
  display: flex;
  flex: 1;
  font-size: calc(var(--defaultTextSize) * 2.1);
  height: 100%;
  justify-content: center;
}

.courtCases-icon {
  display: flex;
  flex: 1;
  flex: 0;
  min-width: 10%;
  max-height: 70px;
}

.courtCases-label {
  display: flex;
  flex-wrap: wrap;
  flex: 3;
}

/* TABLETS */
@media (min-width: 481px) and (max-width: 1025px) {
  .courtCases-featured {
    display: flex;
    flex: 1;
    height: 100%;
    font-size: calc(var(--defaultTextSize) * 2.1);
  }

  .courtCases-icon {
    display: flex;
    flex: 0;
    min-width: 7%;
    max-height: 70px;
  }

  .courtCases-label {
    display: flex;
    flex-wrap: wrap;
    flex: 6;
  }
}
