:root {
  /* ICONS */
  --selectorArrowSize: 6px;
}

.today-outer {
  display: flex;
  flex-direction: column;
  grid-area: today;
  position: relative;
  overflow: hidden;
}

.today-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  z-index: 1;
}

.today-content p,
.today-content h2 {
  margin: 0;
  margin-top: 0;
}

.today-content > button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: calc(var(--sectionTitleFontSize) * 0.8);
  font-family: var(--defaultFont);
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  color: var(--darkBlue);
  position: relative;
}

.today-content > button > h2 {
  display: inline;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

.today-content > button > span {
  text-decoration: underline;
  cursor: pointer;
}

.today-content > button > span::after {
  visibility: visible;
  opacity: 1;
  content: '';
  border-width: var(--selectorArrowSize);
  border-style: solid;
  border-color: var(--darkBlue) transparent transparent transparent;
  position: absolute;
  margin: 7px 2px;
}

.user-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.user-area h1 {
  margin: 0;
}

.logout-arrow {
  visibility: visible;
  opacity: 1;
  border-width: var(--selectorArrowSize);
  border-style: solid;
  border-color: var(--darkBlue) transparent transparent transparent;
  background-color: transparent;
  position: relative;
  padding: 0;
}

.today-robotPic {
  align-items: flex-end;
  display: flex;
  height: 80%;
  width: 50%;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.today-glossaryBtn {
  cursor: help;
  position: absolute;
  right: 0;
  top: 0;
}

.today-introBtn {
  cursor: help;
  position: absolute;
  right: 0;
  top: 36px;
}

.today-btn {
  width: 200px;
  height: 32px;
  margin: 4px 0px;
  color: var(--dark);
  background-color: var(--pt-blue);
  border: 6px var(--pt-blue);
  border-radius: 4px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 32px;
}

/* TABLETS */
@media (min-width: 481px) and (max-width: 1025px) {
  .today-robotPic {
    height: 70%;
  }

  .today-content {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .today-robotPic {
    height: 40%;
  }
  .today-content {
    width: 60%;
  }
}
