.today-outer {
  display: flex;
  flex-direction: column;
  grid-area: today;
  position: relative;
  overflow: hidden;
}

.today-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  z-index: 1;
}

.today-content p,
.today-content h2 {
  margin: 0;
}

.today-robotPic {
  align-items: flex-end;
  display: flex;
  height: 80%;
  width: 50%;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.today-btn {
  /* width: 234px;
  height: 40px;
  color: var(--dark);
  background-color: var(--pt-blue);
  border: 6px var(--pt-blue);
  font-size: 16px ;
  text-transform: uppercase; */
  display: none;
}

/* TABLETS */
@media (min-width: 481px) and (max-width: 1025px) {
  .today-robotPic {
    height: 70%;
  }

  .today-content {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .today-robotPic {
    height: 40%;
  }
  .today-content {
    width: 60%;
  }
}
