.tutela-grid {
  display: grid;
  height: calc(100vh - 2 * var(--bodyPadding));
  width: calc(100vw - 2 * var(--bodyPadding));
  grid-column-gap: 4vh;
  grid-row-gap: 3vh;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(12, minmax(0, 1fr));
  grid-template-areas:
  "today today radar alerts"
  "today today radar alerts"
  "today today radar alerts"
  "today today radar alerts"
  "desk desk radar alerts"
  "desk desk radar alerts"
  "desk desk processes processes"
  "desk desk processes processes"
  "desk desk processes processes"
  "desk desk processingTime processingTime"
  "desk desk processingTime processingTime"
  "desk desk processingTime processingTime";
}

/* TABLETS */
@media (min-width: 481px) and (max-width: 1025px) {
  .tutela-grid {
    /* 252 = sum of all rows + 4 grid gaps of 3vh */
    height: calc(252vh + var(--bodyPadding));
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 33vh 66vh 50vh 50vh 40vh;
    grid-template-areas:
    "today today"
    "desk desk"
    "radar alerts"
    "processes processes"
    "processingTime processingTime";
  }
}

/* PHONES */
@media (max-width: 480px) {
  .tutela-grid {
    height: 400vh;
    grid-template-columns: 100%;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
    "today"
    "desk"
    "desk"
    "radar"
    "alerts"
    "processes"
    "processingTime"
    "processingTime"
    ;
  }
}
