.ranking-list {
  color: var(--dark);
  font-family: var(--defaultFont);
  font-size: calc(var(--defaultFontSize) * 0.6);
  padding: 0;
}

.ranking-outer h3 {
  margin-top: 0;
}

.ranking-li {
  display: flex;
  padding: 10px 0;
}

.ranking-featured {
  font-size: calc(var(--defaultFontSize) * 1.5);
  line-height: calc(var(--defaultFontSize) * 1.5);
  margin-left: 10px;
}

.ranking-label {
  margin-left: 1vw;
}


/* TABLETS */
@media (min-width: 481px) and (max-width: 1025px) {
  .ranking-li {
    flex-wrap: wrap;
  }
}

/* PHONES */
@media (max-width: 480px) {
  .ranking-li {
    flex-wrap: wrap;
  }
}
