@import '../styles.css';

.alertsWrapper {
  grid-area: alerts;
  display: flex;
  flex-direction: column;
}
.alertsHeader{
  display: flex;
  justify-content: space-between;
}
.totalAlerts{
  margin-top: 10px;
  width: 35px;
  height: 17px;
  background-color: var(--danger);
  border-radius: 50px;
}
.totalAlerts span{
  color: var(--white);
  margin-left: 10px;
  font-size: 15px;
}
.alertsBody{
  overflow-y: scroll;
  /* height: 100%; */
}
.positiveDecision{
  color: var(--primary);
  border-bottom: 2px solid ;
}
.negativeDecision{
  color: var(--warning);
  border-bottom: 2px solid ;
}

/* PHONES */
@media (max-width: 480px) {
  .alertsWrapper {
    overflow-y: scroll;
    width: 100%;
  }
}
