/*  */
.alerts-wrapper {
  grid-area: alerts;
  display: flex;
  flex-direction: column;
}
/*  */
.alerts-header {
  display: flex;
  justify-content: space-around;
}
/*  */
.alerts-total {
  margin-top: 14px;
  width: 44px;
  height: 23px;
  background-color: var(--danger);
  border-radius: 20px;
}
/*  */
.alerts-total span {
  color: var(--white);
  font-size: 15px;
  margin-left: 15px;
  margin-top: 5px;
  font-weight: bold;
}
/*  */
.alerts-body {
  overflow-y: scroll;
}
/*  */
.alerts-decision--positive {
  color: var(--primary);
  border-bottom: 2px solid;
}
.alerts-decision--negative {
  color: var(--warning);
  border-bottom: 2px solid;
}

/* PHONES */
@media (max-width: 480px) {
  .alerts-wrapper {
    overflow-y: scroll;
    width: 100%;
  }
}
