:root{
  --buttonBase: 156;
  --buttonSize: calc(var(--buttonBase) * var(--widthScale));
}

.controlButton-outer {
  border: 0;

  align-items: center;
  height: var(--buttonSize);
  width: var(--buttonSize);

  font-family: var(--spotlightFont);
  font-weight: var(--spotlightWeight);
  font-size: calc(var(--defaultTextSize) / 1.5);
  letter-spacing: 0px;
  text-transform: uppercase;
  display: flex;
  text-align: center;
}

.controlButton--inactive {
  align-items: center;
  background-color: var(--white);
  box-shadow: 0 3px 8px var(--shadowColor);
  border-radius: 7px;
  color: var(--secondary);
  flex-direction: column;
  justify-content: center;
}

.controlButton--active {
  background-color: transparent;
  border-bottom: 5px solid var(--primary);
  color: var(--primary);
}

.controlButton-notButton {
  background-color: var(--success);
  color: var(--white);
}

.controlButton-bigNumber {
  font-size: var(--spotlightSize);
  display: block;
}

.controlButton-spinner {
  background-color: orange;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
