.mainAlternativeWelcome{
    display: flex;
    text-align: left;
    font-family: Roboto;
}
.mainAlternativeWelcome h2{
    font-size: 42px;
}
.mainAlternativeWelcome p{
    max-width: 500px;
    font-size: 15px;
}
.secondTextsAlternativeWelcome h2{
    font-size: 24px;
}
.mainTextsAlternativeWelcome{
    display: flex;
    justify-content: space-between;
}
.secondTextsAlternativeWelcome p{
    max-width: 430px;
    font-size: 15px;
}
.div-tools-main h2{
    font-size: 24px;
}
.div-tools-main p{
    font-size: 15px;
}
.div-tools{
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}
.div-tools button{
    width: 80px;
    height: 25px;
    border-color: #B4B4B4;
    background: transparent;
    border-radius: 5px;
}
.div-tools p{
    max-width: 230px;
}
.div-tools-img{
    display: flex;
    flex-direction: column;
}

