.altWelcome-outer {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-column-gap: 3vw;
  overflow: hidden;
  padding-right: 3vw;
  width: 97vw;
  /* This is a quick fix for the <body> padding that is used by every other screen */
  position: absolute;
  top: 0;
  left: 0;
  /* end of quickfix */
}

.altWelcome-img {
  grid-row: 1 / span 3;
  grid-column: 1 / span 1;
  overflow: hidden;
}

.altWelcome-img img {
  height: 100%;
}

.altWelcome-header-logo {
  display: flex;
  align-items: center;
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}

.altWelcome-header-text {
  display: flex;
  flex-direction: column;
  grid-row: 1 / span 1;
  grid-column: 3 / span 2;
  justify-content: center;
}

.altWelcome-header-text h1 {
  font-weight: normal;
  text-align: center;
  font-size: 2.4vw;
  margin-bottom: 0;
}

.altWelcome-header-text p {
  text-align: justify;
}

.altWelcome-texts--first {
  text-align: justify;
  grid-row: 2 / span 1;
  grid-column: 2 / span 2;
}

.altWelcome-texts--second {
  text-align: justify;
  grid-row: 2 / span 1;
  grid-column: 4 / span 2;
}

.altWelcome-suggestions {
  display: flex;
  flex-direction: column;
  grid-row: 3 / span 1;
  grid-column: 2 / span 4;
}

.altWelcome-suggestions h2 {
  margin-bottom: 0;
}

.altWelcome-suggestions-itemRow {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.altWelcome-suggestions-item {
  background-color: pink;
  height: 90%;
  margin-right: 10px;
  overflow: hidden;
  width: calc(20% - 10px);
  display: flex;
  flex: 0;
  /* flex-direction: column; */
}
