.sectionAlternativeWelcome{
    display: grid;
    grid-template-columns: 25% 75%;
    font-family: Roboto;
}
.sectionAlternativeWelcome h2{
   font-size: 42px;
}
.sectionAlternativeWelcome p{
    font-size: 14px;
 }
.sectionAlternativeWelcome h4{
    font-size: 24px;
    font-weight: 500 ;
}
.bgMp img{
    height: 100%;
    width: 300px;
}
.bgMp {
    margin-top: 130px;

}
.boxTextsAlternativeWelcome{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}
.mainBoxTextsAlternativeWelcome p{
    max-width: 400px;
}

.mainAlternativeWelcome{
    display: flex;
    flex-direction: column;
}
.firstTextsAlternativeWelcome{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.firstTextsAlternativeWelcome p{
    max-width: 550px;
}
.mainTextsAlternativeWelcome{
    display: flex;
    justify-content: space-between;
}
.div-tools{
    display: flex;
    margin-left: 8px;
    margin-right: 8px;
}
.div-tools-imgs img{
    width: 180px;
}
.div-tools-imgs p{
    font-size: 10px;
    max-width: 100px;

}
.div-tools button{
    width: 70px;
    height: 25px;
    border-color: #B4B4B4;
    background: transparent;
    border-radius: 5px;
    font-size: 10px;
    margin-right: 25px;
}
.div-tools p{
    max-width: 230px;
}
.div-tools-btn{
    display: flex;
    justify-content: space-between;
}
.div-tools-btn h3{
    font-size: 10px;
}