@import '../styles.css';

.page-today {
  overflow: hidden;
  /*min-height: 35vh;*/
}

.today-featured {
  position: relative;
}

.today-featured-data {
  width: 70%;
  z-index: 1;
  position: relative;
}

.robo-today {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 30vw;
}
