@import '../styles.css';

.page-today {
  display: flex;
  flex-direction: column;
  grid-area: today;
  position: relative;
  overflow: hidden;
}

.today-header {
  display: flex;
  align-items: center;
  height: 25%;
}

.today-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 75%;
  width: 75%;
  z-index: 1;
}

.robo-today {
  align-items: flex-end;
  display: flex;
  height: 75%;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

@media (max-width: 480px) {
  .robo-today {
    height: 50%;
  }
}
