@import '../styles.css';

.page-today {
  height: 100%;
  padding-bottom: var(--elementPadding);
}

.today-featured {
  position: relative;
}

.today-featured-data {
  width: 70%;
  z-index: 1;
  position: relative;
}

.robo-today {
  position: absolute;
  right: 0;
  bottom: -5px;
  z-index: 0;
  width: 45%;
}
