.page-radar-dashboard {
  grid-area: radar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.radar {
  flex-direction: row;
  grid-area: radar;
}

.radar-graph {
  margin: auto 0;
}

.radar-wrapper {
  margin: 0;
  width: 100%;
}

.radar-subtitles {
  margin-top: 2.5vh;
  display: flex;
  justify-content: space-between;
}

.radar-subtitles-item {
  position: relative;
  padding-top: 1vh;
  font-family: var(--defaultFont);
  font-size: var(--smallFont);
  line-height: 12px;
  color: var(--dark);
  float: left;
}

div .radar-subtitles-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5vh;
  height: 2px;
}

.radar-subtitles-item-yourData:before {
  background-color: #009bff;
}

.radar-subtitles-item-MPData:before {
  background-color: #c43a31;
}

.radar-subtitles button {
  background-color: transparent;
  border: none;
  padding: 0;
}
