.actionButton-outer {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border: none;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.actionButton-outer div {
  align-items: center;
  display: flex;
  flex: 2;
  justify-content: center;
  width: 100%;
}

.actionButton-outer span {
  color: white;
  display: flex;
  flex: 1;
  font-size: var(--smallFont);
  font-weight: bold;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}
