@import '../styles.css';

.page-radar-dashboard {
  grid-area: radar;
  overflow: hidden;
}

.radar {
  flex-direction: row;
  grid-area: radar;
}

.radarLeft {
  /* background-color: lightblue; */
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 200px;
}

.radarRight {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: var(--elementPadding);
  display: none;
}

.chart-inner-label {
  background: red;
}
