html {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
}

.wrapper-login {
  border-radius: 15px;
  -webkit-box-shadow: inset 0px 0px 0px 0px #cfcfcf;
  -moz-box-shadow: inset 0px 0px 0px 0px #cfcfcf;
  box-shadow: inset 0px 0px 0px 0px #cfcfcf;
  border: 1px solid #cfcfcf;
  padding: 0.5px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 730px;
  min-height: 450px;
}

.Login-banner {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 50%;
}

.Login-banner img {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 15px 0 0 15px;
  border-bottom: 3px solid #ddd;
}

.Login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 80%;
  justify-content: space-between;
  width: 50%;
}

.Login-input {
  border: 1px solid #c4c4c4;
  border-radius: 7px;
  box-sizing: border-box;
  color: #8a8a8a;
  display: flex;
  font-family: var(--defaultFont);
  height: 40px;
  padding: 0 18px 0 18px;
  width: 70%;
  text-align: center;
}

/*Chrome*/
.Login-input:focus {
  outline: none;
}

.btn-login {
  background-color: #e6e6e6;
  border: none;
  border-radius: 7px;
  box-sizing: border-box;
  color: #505050;
  font-family: Segoe UI Semibold;
  height: 40px;
  width: 70%;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #bddff0;
}

label {
  align-items: center;
  color: #8a8a8a;
  display: flex;
  font-family: var(--defaultFont);
  font-size: 12px;
  padding-left: 0;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder {
  color: #cecece;
  opacity: 1; /* Firefox */
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder {
  color: #cecece;
}

/* Microsoft Edge */
::-ms-input-placeholder {
  color: #cecece;
}

.greetings {
  color: #8a8a8a;
  font-family: var(--defaultFont);
  font-size: 12px;
}

.greetings strong {
  display: block;
  text-align: center;
}

@media (max-width: 480px) {
  .wrapper-login {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 460px;
  }

  .Login-form {
    margin-top: 20px;
  }

  .Login-input {
    margin-top: 20px;
    width: 100%;
  }

  .btn-login {
    margin-top: 20px;
    width: 100%;
  }
}
