.base-grid {
    display: grid;
    height: calc(100vh - 2 * var(--bodyVerticalPadding));
    width: calc(100vw - 2 * var(--bodyHorizontalPadding));
    grid-column-gap: 2vw;
    grid-row-gap: 3vh;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(12, minmax(0, 1fr));
  }

.tutela-grid {
    grid-template-areas:
      'today today radar alerts'
      'today today radar alerts'
      'today today radar alerts'
      'today today radar alerts'
      'desk desk radar alerts'
      'desk desk radar alerts'
      'desk desk processes processes '
      'desk desk processes processes '
      'desk desk processes processes '
      'desk desk processingTime processingTime'
      'desk desk processingTime processingTime'
      'desk desk processingTime processingTime';
}
  