
.processList-outer {
    grid-area: processes;
    display: flex;
    flex-direction: column;
    flex: 2 1;
  }
  
  .processList-tableWrapper {
    overflow-y: auto;
  }
  .button-tables{
    transition: 1s;
    border: none;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
  }
  .processList-tableWrapper{
    opacity: 1;
  }

  .text {
    opacity: 0.01;
    transition: opacity 600ms;
  }
    
  .text.visible {
    opacity: 1;
  }