
.processList-outer {
    grid-area: processes;
    display: flex;
    flex-direction: column;
    flex: 2 1;
  }
  
  .processList-tableWrapper {
    overflow-y: auto;
    opacity: 0;
    transform: scale(0.3);
    animation: processList-tableWrapper 0.2s forwards;

  }
  @keyframes processList-tableWrapper{
    to{
      opacity: 1;
      transform: initial;
    }
  }
  .button-tables{
    border: none;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
  }
 