@import '../../../themes/index.css';

.mainTitleText {
  align-items: center;
  color: var(--darkBlue);
  font-family: var(--defaultFont);
  font-size: var(--titleSize);
  font-weight: var(--titleWeight);
  margin: 0;
}
