.deskCasesChartOuter {
  display: flex;
  justify-content: flex-end;
}

.deskCasesChartGraph {
  width: 100%;
  height: 70px;
}

/* PHONES */
@media (max-width: 480px) {
  .deskCasesChartGraph {
    width: 100%;
    height: 100%;
  }
  
}
