.deskCasesChartOuter {
  display: flex;
  justify-content: flex-end;
}

.deskCasesChartGraph {
  width: 100%;
  height: 80px;
}

/* PHONES */
@media (max-width: 480px) {
  .deskCasesChartGraph {
    display: none;
  }
}
