.investigatedProfile-header .investigatedProfile-details {
  flex: 4;
}

.investigatedProfile-details {
  color: var(--grayPagination);
}


.investigatedProfile-details span {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

.investigatedProfile-details strong {
  color: var(--darkBlue);
}