.investigatedProfile-header .investigatedProfile-details {
  flex: 4;
}

.investigatedProfile-details {
  color: #8998ac;
}

.similar-profiles-list button.current {
  background-color: #bddff0;
}

.investigatedProfile-details span {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

.investigatedProfile-details strong {
  color: var(--darkBlue);
}

.investigatedProfile-tableWrapper .spinner--medium {
  justify-self: center;
  align-self: center;
}

td button.investigated-profile-btn {
  color: #8998ac;
  font-size: var(--smallFont);
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  border-radius: 4px;
  border: 0;
  padding: 0;
  background: transparent;
  text-decoration: underline;
}