.investigatedProfile-header .investigatedProfile-details {
  flex: 4;
}

.investigatedProfile-details {
  color: var(--grayPagination);
}

.similar-profiles-list button.current {
  background-color: var(--lightBlue);
}

.investigatedProfile-details span {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

.investigatedProfile-details strong {
  color: var(--darkBlue);
}

.investigatedProfile-tableWrapper .spinner--medium {
  justify-self: center;
  align-self: center;
}