body {
  color: var(--dark);
  font-family: var(--defaultFont);
  font-size: var(--defaultFontSize);
  margin: 0;
  padding: var(--bodyVerticalPadding) var(--bodyHorizontalPadding);
}

h3 {
  font-size: var(--defaultFontSize);
  font-weight: 400;
  text-transform: uppercase;
}

/* Let's get this party started */
div::-webkit-scrollbar {
  width: 6px;
}

/* Track */
div::-webkit-scrollbar-track {
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* Handle */
div::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #8998ac;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); */
}
div::-webkit-scrollbar-thumb:window-inactive {
  /* background: rgba(255, 0, 0, 0.4); */
}

/* For firefox 64 and onwards*/
div {
  scrollbar-width: thin;
  scrollbar-color: #8998ac gray;
}
