body {
  color: var(--dark);
  font-family: var(--defaultFont);
  font-size: var(--defaultFontSize);
  margin: 0;
  padding: var(--bodyVerticalPadding) var(--bodyHorizontalPadding);
}

h3 {
  text-transform: uppercase;
  font-weight: 400;
}
