:root {
  /* ICONS */
  --introductionArrowSize: 16px;
}

.intro-outer {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  /* it needs to be this high because of the Performance Radar graph labels :/ */
  z-index: 100;
  padding: var(--bodyVerticalPadding) var(--bodyHorizontalPadding);
  overflow: hidden;
}

.text-div {
  background-color: var(--white);
  border-radius: 10px;
  color: var(--dark);
  letter-spacing: 0px;
  opacity: 1;
  padding: 20px;
  position: absolute;
  z-index: 101;
  max-height: 35vh;
  min-height: 130px;
  height: 100%;
}

/* mover a seta de acordo com a posição */
.text-div::after {
  visibility: visible;
  opacity: 1;
  content: '';
  border-width: var(--introductionArrowSize);
  border-style: solid;
  border-color: var(--white) transparent transparent transparent;
  position: absolute;
}

.introduction-wrapper {
  height: 80%;
  overflow: auto;
}

.text-div--today {
  top: calc(100% + 1.6 * var(--introductionArrowSize));
}

.text-div--today::after {
  border-color: transparent transparent var(--white) transparent;
  top: calc(0% - 2 * var(--introductionArrowSize));
  left: calc(1.6 * var(--introductionArrowSize));
}

.text-div--desk {
  left: calc(100% + 1.6 * var(--introductionArrowSize));
}

.text-div--desk::after {
  border-color: transparent var(--white) transparent transparent;
  left: calc(0% - 2 * var(--introductionArrowSize));
  top: calc(1.6 * var(--introductionArrowSize));
}

.text-div--radar {
  top: calc(100% + 1.6 * var(--introductionArrowSize));
}

.text-div--radar::after {
  border-color: transparent transparent var(--white) transparent;
  top: calc(0% - 2 * var(--introductionArrowSize));
  left: calc(1.6 * var(--introductionArrowSize));
}

.text-div--alerts {
  right: calc(100% + 1.6 * var(--introductionArrowSize));
}

.text-div--alerts::after {
  border-color: transparent transparent transparent var(--white);
  right: calc(0% - 2 * var(--introductionArrowSize));
  top: calc(1.6 * var(--introductionArrowSize));
}

.text-div--mainInvestigated {
  bottom: calc(100% + 1.6 * var(--introductionArrowSize));
}

.text-div--mainInvestigated::after {
  border-color: var(--white) transparent transparent transparent;
  bottom: calc(0% - 2 * var(--introductionArrowSize));
  left: calc(1.6 * var(--introductionArrowSize));
}

.text-div--processes {
  bottom: calc(100% + 1.6 * var(--introductionArrowSize));
  right: 50px;
}

.text-div--processes::after {
  border-color: var(--white) transparent transparent transparent;
  bottom: calc(0% - 2 * var(--introductionArrowSize));
  left: calc(1.6 * var(--introductionArrowSize));
}

.text-div--indicators {
  right: calc(100% + 1.6 * var(--introductionArrowSize));
}

.text-div--indicators::after {
  border-color: transparent transparent transparent var(--white);
  right: calc(0% - 2 * var(--introductionArrowSize));
  top: calc(1.6 * var(--introductionArrowSize));
}

.text-div--processingTime {
  bottom: calc(100% + 1.6 * var(--introductionArrowSize));
  right: 0;
}

.text-div--processingTime::after {
  border-color: var(--white) transparent transparent transparent;
  bottom: calc(0% - 2 * var(--introductionArrowSize));
  left: calc(1.6 * var(--introductionArrowSize));
}

.text-div--end {
  bottom: 0;
  right: 0;
}

.introduction-wrapper h3 {
  font-size: 16px;
  font-weight: bold;
}

.introduction-wrapper p {
  font-size: 12px;
  font-family: 'Segoe UI', Regular;
}

.transparent-div {
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 0 100vw rgb(0 0 0 / 54%);
  height: 110%;
  margin-left: -20px;
  width: 108%;
  position: relative;
}

.btns-introduction {
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
  color: var(--darkWelcome);
  border-top: solid 5px #bddff0;
  min-height: 48px;
}

.btn-leave {
  background: #efefef 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
  border: none;
  width: 69px;
  height: 24px;
  margin: 10px;
  margin-right: 100px;
}

.btn-introduction-next {
  background: #d6d6d6 0% 0% no-repeat padding-box;
  border-radius: 3px 20px 20px 3px;
  opacity: 1;
  border: none;
  width: 69px;
  height: 24px;
  margin: 10px;
}

.btn-introduction-previous {
  background: #d6d6d6 0% 0% no-repeat padding-box;
  border-radius: 20px 3px 3px 20px;
  opacity: 1;
  border: none;
  width: 69px;
  height: 24px;
  margin: 10px;
}

.text-div--end {
  position: absolute;
  top: calc(-150px - 50vh);
  left: calc(-130px - 50vw);
  width: 300px;
  height: 260px;
}

.text-div--end::after {
  border-width: 0;
}
