:root {
  /* COLORS */
  --primary: #28a7e0;
  --secondary: #b5b5b5;
  --dark: #3b3b3b;
  --darkBlue: #374354;
  --success: #71d0a4;
  --warning: #f8bd6c;
  --danger: #f86c72;
  --white: #ffffff;
  --gray: #b5b5b5;
  --grayLight: #e8e8e8;
  --grayLinks: #cecece;

  --shadowColor: rgba(0, 0, 0, 0.3);

  /* FONTS */
  --defaultFont: Montserrat;
  --defaultTextSize: 2vh;

  --titleWeight: bold;
  --titleSize: calc(var(--defaultTextSize) * 2);

  --spotlightFont: Nunito Sans;
  --spotlightWeight: 700;
  --spotlightSize: 4vw;

  --spotlightSubtitleSize: 0;

  --spotilightActiveSize: calc(var(--spotlightSize) * 1.5);

  --subtitleFont: Roboto Slab;
  --subtitleWeight: regular;
  --subtitleSize: calc(var(--defaultTextSize) * 1.1);

  --linkSize: calc(var(--defaultTextSize) * 1);

  /* SIZING */
  --pagePadding: 2.5vh;
  --pageMargin: 2.5vh;

  --dashboardAreaMargin: 2vh;

  --elementPadding: 1.5vh;
  /*
  --tabControlItemSize: calc(var(--defaultTextSize) * 7);
  --tabControlItemActiveHeight: calc(var(--tabControlItemSize) * 1.15);
  --tabControlItemActiveWidth: calc(var(--tabControlItemSize) * 1.4); */
}

/* TABLETS */
@media (min-width: 481px) and (max-width: 1025px) {
  :root {
    --spotlightSize: 6vw;
  }
}

/* PHONES */
@media (max-width: 480px) {
  :root {
    --spotlightSize: 7vw;
  }
}
