:root {
  /* COLORS */
  --primary: #28a7e0;
  --secondary: #b5b5b5;
  --dark: #3b3b3b;
  --darkBlue: #374354;
  --success: #71d0a4;
  --warning: #f8bd6c;
  --danger: #f86c72;
  --white: #ffffff;
  --gray: #b5b5b5;
  --grayLight: #e8e8e8;
  --grayLinks: #CECECE;

  --shadowColor: rgba(0, 0, 0, .3);

  /* FONTS */
  --defaultFont:Montserrat;
  --defaultTextSize: 1.75vw;

  --titleWeight: bold;
  --titleSize: 5vw;

  --subtitleFont: Roboto Slab;
  --subtitleWeight: regular;
  --subtitleSize: 3.5vw;

  --linkSize: 2vw;

  /* --defaultFont: 'montserrat-regular';
  --spotlightFont: 'nunitosans-bold';
  --paragraphBold: 'montserrat-bold'; */

  /* SIZING */
  --pagePadding: 2.5vw;
  --pageMargin: 2.5vw;

  --elementPadding: 1.5vw;
}
