.deskOuter {
  display: flex;
  flex-direction: column;
  grid-area: desk;
  margin-left: 28px;
}

.deskControlers {
  align-items: flex-end;
  display: flex;
}
.deskButtonsHeader button{
  border: 2px solid #BDDFF0;
  margin: 4px;
  background-color: transparent;
  color:#BDDFF0 ;
  width: 120px;
  height: 30px;
}
.deskButtonsTextsHeader p{
  color: #154763;
  font-weight: 900;
  font-size: 50px;
  margin-top: 0px;
}
.deskButtonsTextsHeader{
  display: flex;
}
.deskButtonsTextsHeader strong{
  display: flex;
  color: #154763;
  font-size: 15px;
  font-weight: 200;
  margin: 15px;
  max-width: 120px;
  text-transform: uppercase;
}
.deskTabs {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  padding: 10px 0 0 0;
}

.deskHeader h2 {
  margin: 0;
  margin-top: -10px;
}

.componentWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}

/* PHONES */
@media (max-width: 480px) {
  .deskHeader {
    display: flex;
    height: 25vh;
    flex-direction: column;
  }

  .deskTabs {
    display: flex;
    flex-direction: column;
    height: 75vh;
  }
}
