.deskOuter {
  display: flex;
  flex-direction: column;
  grid-area: desk;
  margin-left: 28px;
}

.deskControlers {
  display: flex;
}
.deskButtonsInactive{
  display: flex;
}
.deskButtonsTextsHeader{
  display: flex;
  height: 100px;
}
.deskButtonsActive{
  display: flex;
  justify-content: space-between;
  margin-left: -3px;

}
.deskButtonsTextsHeaderText{
  color: #374354;
  font-weight: 600;
}
.deskButtonsTextsHeaderText p{
  text-align: right;
  max-width: 250px;
  margin-left: 198px;
}

.deskTabs {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  padding: 0 0 0 0;
}

.componentWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}
.yourCollectionButtons div  {
  color: #ACACAC;
  background-color: #EEEEEE;
  width: 105px;
  height: 100px;
  border-radius: 5px;
  display: flex;
}
.yourCollectionButtons div:nth-child(1){
  width: 110px;
  margin-left: 0px;
}

.openCasesChartsWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

/* PHONES */
@media (max-width: 480px) {
  .deskHeader {
    display: flex;
    height: 25vh;
    flex-direction: column;
  }

  .deskTabs {
    display: flex;
    flex-direction: column;
    height: 75vh;
  }
}
