.altWelcome-outer {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-column-gap: 3vw;
  overflow: hidden;
  padding-right: 3vw;
  width: 97vw;
  /* This is a quick fix for the <body> padding that is used by every other screen */
  position: absolute;
  top: 0;
  left: 0;
  /* end of quickfix */
}

.altWelcome-outer h2 {
  color: black;
}

.altWelcome-img {
  grid-row: 1 / span 3;
  grid-column: 1 / span 1;
  overflow: hidden;
}

.altWelcome-img img {
  height: 100%;
}

.altWelcome-header-logo {
  display: flex;
  align-items: center;
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}

.altWelcome-header-text {
  display: flex;
  flex-direction: column;
  grid-row: 1 / span 1;
  grid-column: 3 / span 2;
  justify-content: center;
}

.altWelcome-header-text h1 {
  font-weight: normal;
  text-align: center;
  font-size: 2.2vw;
  margin-bottom: 0;
}

.altWelcome-header-text p {
  text-align: justify;
}

.altWelcome-texts--first {
  text-align: justify;
  grid-row: 2 / span 1;
  grid-column: 2 / span 2;
}

.altWelcome-texts--second {
  text-align: justify;
  grid-row: 2 / span 1;
  grid-column: 4 / span 2;
}

.altWelcome-suggestions {
  display: flex;
  flex-direction: column;
  grid-row: 3 / span 1;
  grid-column: 2 / span 4;
}

.altWelcome-suggestions h2 {
  margin-bottom: 0;
}

.altWelcome-suggestions p {
  color: var(--grayAlternative);
}

.altWelcome-suggestions-itemRow {
  display: flex;
  flex-direction: row;
  height: 70%;
  justify-content: space-between;
}

.altWelcome-suggestions-itemRow div:last-child {
  margin-right: 0;
}

.altWelcome-suggestions-item {
  width: 250px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.altWelcome-suggestions-itemImg {
  height: 50%;
}

.altWelcome-suggestions-itemImg img {
  height: 100%;
  width: 100%;
}

.altWelcome-suggestions-itemData {
  height: 50%;
  display: flex;
  font-size: var(--smallFont);
}

.altWelcome-suggestions-itemData h3 {
  text-transform: none;
  margin-top: 5px;
}

.altWelcome-suggestions-itemData a {
  background-color: transparent;
  border: 1px solid var(--grayAlternative);
  border-radius: 10px;
  color: var(--grayAlternative);
  font-size: var(--smallFont);
  height: calc(var(--smallFont) + 14px);
  line-height: calc(var(--smallFont) + 14px);
  margin: 5px 0 0 0;
  padding: 0 7px;
  text-decoration: none;
}

.altWelcome-suggestions-itemData div:first-of-type {
  flex: 2;
}

.altWelcome-suggestions-itemData div:last-of-type {
  flex: 1;
  justify-content: flex-end;
  display: flex;
}
