.alertBadgeOuterContainer {
  background-color: white;
  border-radius: 0.4375rem;
  box-shadow: 0px 3px 8px #00000029;
  color: var(--dark);
  display: flex;
  font-family: var(--defaultFont);
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  min-height: 5.625rem;
  overflow: hidden;
  position: relative;
}

.alertBadgeHoverContainer {
  background-color: var(--danger);
  display: flex;
  justify-content: flex-end;
  height: 100%;
  left: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: 0.5s ease;
  width: 0;
  z-index: 10;
}

.deleteConfirmation {
  background-color: rgb(0 0 0 / 42%);
  opacity: 0;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: 0.8s ease -0.1s;
  visibility: hidden;
}

.deleteConfirmation.isDeletedStyle {
  opacity: 1;
  visibility: visible;
}

.deleteConfirmation > button {
  padding: 0;
  width: min-content;
  height: min-content;
  border: 0;
  position: absolute;
  right: 8px;
}

.deleteConfirmation .doDelete {
  top: 4px;
  background-color: transparent;
  color: var(--white);
}

.deleteConfirmation .undoDelete {
  bottom: 8px;
  background-color: var(--grayLight);
  color: var(--darkBlue);
  border-radius: 3px;
  padding: 4px 12px;
  font-size: var(--smallFont);
}

.alertBadgeLeftContainer {
  align-items: center;
  background-color: gray;
  border-radius: 7px 0 0 7px;
  display: flex;
  justify-content: center;
  width: 61px;
}

.alertBadgeRightContainer {
  align-items: left;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 10px;
  padding: 10px;
}

.alertBadgeRightContainer > span {
  align-items: left;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.alertBadgeSmallButtons {
  display: flex;
  align-self: flex-end;
}

.alertBadgeCountWrapper,
.alertBadgeDownloadNumbers {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(1.2 * var(--smallFont));
  border-radius: 0.25rem;
  color: var(--white);
  font-weight: bold;
  font-size: var(--smallFont);
  padding: 0.125rem 0.3125rem;
  padding: 0.6rem 0.5rem;
  margin-left: 0.3125rem;
  border: none;
  box-sizing: border-box;
  font-family: var(--defaultFont);
}

.alertBadgeDownloadNumbers {
  z-index: 10;
  background-color: #2de288;
}

.alertBadgeArrow {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: calc(0.4 * var(--smallFont)) solid transparent;
  border-right: calc(0.4 * var(--smallFont)) solid transparent;
  border-top-width: calc(0.4 * var(--smallFont));
  border-top-style: solid;
  border-top-color: white;
  margin-right: 5px;
  transition: transform 0.5s;
  margin-bottom: 1px;
}

.openMobileDropdownBtn {
  display: none;
}

.openDropdownBtn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.hoverMobile {
  display: none;
}

/* Only in desktop */
@media (min-width: 769px) {
  .alertBadgeOuterContainer:hover .alertBadgeHoverContainer {
    width: 100%;
    left: 0;
  }

  .alertBadgeArrowOpen {
    transform: rotate(180deg);
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .alertBadgeOuterContainer {
    margin-bottom: 1.2rem;
  }

  .alertBadgeSmallButtons {
    width: 100%;
    gap: 0.6rem;
  }

  .alertBadgeCountWrapper,
  .alertBadgeDownloadNumbers {
    margin-left: 0;
    padding: 0.8rem 1rem;
  }

  .alertBadgeRightContainer {
    align-items: flex-start;
    font-size: 0.75rem;
    gap: 0.6rem;
  }

  .openMobileDropdownBtn {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0 0.5rem;
  }

  .openMobileDropdownBtn .alertBadgeArrow {
    border-top-color: #8b8888;
    transform: scale(1.6);
    margin: 0;
  }

  .openMobileDropdownBtn .alertBadgeArrowOpen {
    transform: scale(1.6) rotate(180deg);
  }

  .hoverMobile {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8ea;
    border-radius: 0 0.4375rem 0.4375rem 0;
    border: none;
    border-left: 1px solid #e3e4ea;
  }

  .alertBadgeArrow.openArrow {
    border-top-color: #8b8888;
    transform: scale(1.6) rotate(90deg);
  }

  .alertBadgeArrow.closeArrow {
    border-top-color: #8b8888;
    transform: scale(1.6) rotate(-90deg);
  }

  .showContainerInMobile .alertBadgeHoverContainer {
    width: 100%;
    left: 0;
  }
}
