h2 {
  color: var(--darkBlue);
  font-size: var(--sectionTitleFontSize);
  font-family: var(--titleFont);
  font-weight: normal;
}

.sectionTitle--glued {
  margin-top: 0;
}

.sectionTitle--withSubs {
  margin-bottom: 0;
}

h2 + .sectionTitle-subtitle {
  color: var(--darkBlue);
  font-size: calc(var(--sectionTitleFontSize) * 0.5);
  letter-spacing: 2px;
  text-transform: uppercase;
}
