
.desk-outer {
  display: flex;
  flex-direction: column;
  grid-area: desk;
}

.desk-controlers {
  /* background-color: red; */
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex: 1;
  overflow: hidden;
}

.desk-tabs {
  background-color: orange;
  display: flex;
  flex: 1;
  flex-direction: column;
  /* height: calc(100% - var(--buttonSize)); */
  /* height: auto; */
}

/* PHONES */
@media (max-width: 480px) {
  .desk-header {
    display: flex;
    height: 25vh;
    flex-direction: column;
  }

  .desk-tabs {
    display: flex;
    flex-direction: column;
    height: 75vh;
  }
}
