
.desk-outer {
  display: flex;
  flex-direction: column;
  grid-area: desk;
}

.desk-controlers {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.desk-tabs {
  background-color: orange;
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* PHONES */
@media (max-width: 480px) {
  .desk-header {
    display: flex;
    height: 25vh;
    flex-direction: column;
  }

  .desk-tabs {
    display: flex;
    flex-direction: column;
    height: 75vh;
  }
}
