.pip-grid {
  grid-template-areas:
  "today today radar alerts"
  "today today radar alerts"
  "today today radar alerts"
  "today today radar alerts"
  "desk desk radar alerts"
  "desk desk radar alerts"
  "desk desk .. indicators "
  "desk desk .. indicators"
  "desk desk .. indicators "
  "desk desk .. indicators "
  "desk desk processingTime processingTime"
  "desk desk processingTime processingTime"
  "desk desk processingTime processingTime"
  "desk desk processingTime processingTime";

}

/* TABLETS */
@media (min-width: 481px) and (max-width: 1025px) {
  .pip-grid {
    grid-template-areas:
    "today today"
    "desk desk"
    "radar alerts"
    "indicators indicators"
    "processingTime processingTime";
  }
}

/* PHONES */
@media (max-width: 480px) {
  .pip-grid {
    grid-template-areas:
    "today"
    "desk"
    "desk"
    "radar"
    "alerts"
    "indicators"
    "processingTime"
    "processingTime";
  }
}
