.ranking-list {
  /* color: var(--dark);
  font-family: var(--defaultFont); */
  font-size: var(--smallFont);
  padding: 0;
}

.ranking-outer h3 {
  margin-top: 0;
}

.ranking-li {
  display: flex;
  padding: 10px 0;
}

.ranking-featured {
  font-size: var(--featuredNumberFontSize);
  line-height: var(--featuredNumberFontSize);
  margin-left: 10px;
  margin-top: 10px;
}

.ranking-label {
  margin-left: 1vw;
  margin-top: 10px;

}


/* TABLETS */
@media (min-width: 481px) and (max-width: 1025px) {
  .ranking-li {
    flex-wrap: wrap;
  }
}

/* PHONES */
@media (max-width: 480px) {
  .ranking-li {
    flex-wrap: wrap;
  }
}
