@import '../styles.css';

.page-radar-dashboard {
  grid-area: radar;
  display: flex;
  flex-direction: column;
}

.radar {
  flex-direction: row;
  grid-area: radar;
}

@media (min-width: 1025px) {
.radar-graph {
    margin-top: 25%;
  }
}
