:root {
  --buttonBase: 156;
  --buttonSize: calc(var(--buttonBase) * var(--widthScale));
  --activeButtonSize: calc(var(--buttonSize) * 1.2);
}

.controlButtonOuter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 8.125rem;
  height: 6.125rem;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  cursor: default;
  border: 0.5px #eeeeee solid;
}

span .deskButtonsVistas {
  font-size: 40px;
  width: 135px;
  height: 98px;
  background-color: #eeeeee;
  color: #acacac;
}

.controlButtonOuter p {
  margin: 0;
  font-size: 0.75rem;
}

.controlButtonInner {
  font-weight: 900;
  font-size: var(--spotlightSize);
}

.white {
  width: 11.125rem;
  background-color: var(--white);
  color: #154763;
}

.green {
  background-color: #71d0a4;
  color: var(--white);
}

.blue {
  background-color: #71a2d0;
  color: var(--white);
}

.gray {
  background-color: #fafafa;
  color: #acacac;
}

/* Para telas menores do que 768px - Tablets */
@media (max-width: 768px) {
  .controlButtonOuter {
    display: flex;
    width: 100%;
    height: auto;
    padding: 1.5rem;
    margin-left: 0;
    box-sizing: border-box;
  }

  .controlButtonInner {
    margin: 0;
  }

  .controlButtonInner {
    font-size: 2.5rem;
  }

  .controlButtonOuter p {
    margin-top: 0;
    font-size: 0.9rem;
  }
}
