table {
  color: #8998ac;
  font-size: var(--smallFont);
  table-layout: fixed;
  width: 100%;
}

tbody tr:nth-child(even) {
  background-color: #f8f9fb;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

thead tr {
  background-color: #f8f9fb;
  color: #39475b;
  text-align: left;
}

th {
  padding: 10px;
  font-weight: 400;
}

td {
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.capitalizeTitle {
  text-transform: capitalize;
}
 
/* PHONES */
@media (max-width: 480px) {
  table {
    table-layout: fixed;
    width: 100vw;
  }
  td {
    width: 100%;
  }
  tbody tr {
    display: flex;
    flex-wrap: wrap;
  }

  tbody td {
    min-width: 45%;
  }

  tbody th {
    text-align: left;
    width: 45%;
  }
}
