.criminalGrid {
  grid-template-areas:
    'today today radar alerts'
    'today today radar alerts'
    'today today radar alerts'
    'today today radar alerts'
    'desk desk radar alerts'
    'desk desk radar alerts'
    'desk desk criminalProcesses criminalProcesses'
    'desk desk criminalProcesses criminalProcesses'
    'desk desk criminalProcesses criminalProcesses'
    'desk desk criminalProcesses criminalProcesses'
    'desk desk criminalProcesses criminalProcesses'
    'desk desk criminalProcesses criminalProcesses';
}

/* TABLETS */
@media (min-width: 481px) and (max-width: 1025px) {
  .criminalGrid {
    grid-template-areas:
      'today today'
      'desk desk'
      'radar alerts'
      'criminalProcesses criminalProcesses'
      'criminalProcesses criminalProcesses';
  }
}

/* PHONES */
@media (max-width: 480px) {
  .criminalGrid {
    grid-template-areas:
    "today"
    "desk"
    "desk"
    "radar"
    "alerts"
    "criminalProcesses"
    "criminalProcesses"
    "criminalProcesses";
  }
}