:root {
  --login-gray: #cacaca;
  --login-light-gray: #faeceb;
  --login-light-blue: #71a2d0;
  --responsive-font-md: clamp(0.85rem, 1vw, 1rem);
  --responsive-font-lg: clamp(1rem, 1.5vw, 1.25rem);
}

.loginInner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr;
  place-items: center;
  background-color: var(--loginBlue);
  min-height: 100vh; /* In case svh doesn't work */
  min-height: 100svh;
}

.loginFormArea {
  width: 100%;
  padding: 1.75rem;
  box-sizing: border-box;
}

.loginParquetHeader {
  display: flex;
  justify-content: center;
}

.loginInput {
  width: 100%;
  height: 2.5rem;
  border: 1px solid var(--login-gray);
  color: var(--login-gray);
  background-color: transparent;
  border-radius: 7px;
  text-align: center;
  margin-top: 1.25rem;
  font-family: var(--defaultFont);
  font-size: var(--responsive-font-md);
}

.loginInput::placeholder {
  color: var(--login-gray);
}

.loginInput:focus {
  outline: 2px solid var(--login-gray);
}

.loginSubmitBtn {
  width: 100%;
  height: 2.5rem;
  border: 1px solid var(--login-gray);
  color: var(--loginBlue);
  background-color: var(--login-light-gray);
  border-radius: 7px;
  text-align: center;
  margin-top: 1.25rem;
  font-family: var(--defaultFont);
  font-size: var(--responsive-font-md);
}

.greetings {
  margin-top: 0.6rem;
  color: var(--login-gray);
  font-family: var(--defaultFont);
  font-size: var(--responsive-font-md);
  text-align: center;
}

.loginTip {
  color: var(--login-light-blue);
  text-align: center;
  opacity: 0.8;
  font-size: var(--responsive-font-sm);
}

.loginInfoArea {
  display: none;
}

.loginInnerLogoFooter img {
  max-width: 100%;
}

.loginFooter {
  display: none;
}

/* Tablets */
@media (min-width: 768px) {
  .loginFormArea {
    width: auto;
  }
}

/* Laptop and Desktop */
@media (min-width: 1024px) {
  .loginWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    min-height: 100vh;
    background: url(../../assets/svg/background-login.svg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .loginInner {
    width: min(1200px, 70vw);
    height: min(max(500px, auto), 50vw);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    min-height: auto;
    border-radius: 7px;
  }

  .loginFormArea {
    width: 19rem;
    max-width: 100%;
    padding: 3rem 0;
    box-sizing: border-box;
  }

  .loginParquetHeader {
    justify-content: start;
  }

  .loginInput {
    text-align: left;
    padding: 0 0.6rem;
    box-sizing: border-box;
  }

  .loginInfoArea {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
    padding-right: 1rem;
  }

  .loginInfoAreaText {
    max-width: min(30rem, 90%);
    color: #fff;
    font-size: var(--responsive-font-lg);
    line-height: 32px;
  }

  .loginInfoAreaText a {
    color: #fff;
    font-weight: 700;
    text-decoration: underline;
  }

  .loginInnerLogoFooter {
    display: none;
  }

  .loginFooter {
    width: min(1200px, 70vw);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .loginFooter p {
    width: 100%;
    text-align: center;
    color: var(--loginBlue);
  }

  .loginFooter img {
    padding-right: 1rem;
  }
}
