@import '../styles.css';

.yourDesk {
  display: flex;
  flex-direction: column;
  grid-area: desk;
}

.desk-controlers {
  display: flex;
  justify-content: space-around;
  height: 25%;
}

.desk-tabs {
  background-color: lightblue;
  display: flex;
  flex: 1;
}
