/* autoprefixer grid: autoplace */

@import '../themes/index.css';

.infoGridView {
  box-sizing: border-box;
  padding: 2vh 3vw;
}

.alertsGridView {
  height: 20vh;
  overflow-y: scroll;
}

.andamentosGridView {
}

.indicadoresGridView {
}

.decisaoGridView {
}

@media (min-width: 480px) {
  .root {
    display: grid;
    grid-template-rows: 2vh 98vh;
  }

  .header {
    grid-row: 1 / 2;
    height: 100%;
  }

  .infoGridView {
    grid-row-start: 2;

    height: 100%;
    overflow: hidden;
    box-sizing: border-box;

    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2vh repeat(12, calc(94vh / 16)) auto;
    grid-gap: 1vh 2vw;
    padding: 1vh 3vw;
  }

  .infoGridView > * {
    overflow: hidden;
    height: 100%;
  }

  .headerGridView {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .resumeGridView {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
  }

  .yourDeskGridView {
    grid-column: 1 / 3;
    grid-row: 4 / 11;
  }

  .radarGridView {
    grid-column: 1 / 2;
    grid-row: 11 / 14;
  }

  .alertsGridView {
    height: 100%;
    overflow-y: scroll;
    grid-column: 2 / 3;
    grid-row: 11 / 14;
  }

  .andamentosGridView {
    grid-column: 2 / 4;
    grid-row: 14;
  }

  .indicadoresGridView {
    grid-column: 1 / 2;
    grid-row: 14;
  }

  .decisaoGridView {
    grid-column: 2 / 3;
    grid-row: 14;
  }
}
/*phone-only 900 Desktop */
@media (min-width: 900px) {
  .root {
    grid-template-rows: 6vh 94vh;
  }

  .infoGridView {
    grid-gap: 2vh 4vw;
    padding: 2vh 3vw;

    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 6vh repeat(9, calc(94vh / 16)) auto;
  }

  .headerGridView {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .resumeGridView {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
  }

  .yourDeskGridView {
    grid-column: 1 / 2;
    grid-row: 5 / 12;
  }

  .radarGridView {
    grid-column: 2 / 3;
    grid-row: 1 / 6;
  }

  .alertsGridView {
    grid-column: 3 / 4;
    grid-row: 1 / 6;
  }

  .andamentosGridView {
    grid-column: 2 / 4;
    grid-row: 6 / 8;
  }

  .indicadoresGridView {
    grid-column: 2 / 3;
    grid-row: 8 / 12;
  }

  .decisaoGridView {
    grid-column: 3 / 4;
    grid-row: 8 / 12;
  }
}
