@import '../themes/index.css';

.outerView {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: calc(100vh - 2 * var(--pagePadding));
  justify-content: space-between;
  overflow: hidden;
  padding: var(--pagePadding);

  @include for-tablet-portrait-down, for-tablet-landscape-down {
  }
}

.mainView {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 3;
  /* overflow: scroll; */
  position: relative;
}

.headerView {
  /* background-color: lightgreen; */
  display: flex;
  height: 10vh;
  justify-content: space-between;
  min-height: 30px;
  padding: var(--elementPadding) 0;
}

.alertsView {
  background-color: var(--danger);
  flex: 1;
  margin-left: var(--pageMargin);
  overflow-y: scroll;
}

.infoView {
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
  flex: 1;
  /* justify-content: space-around; */
  overflow-y: scroll;
}

/* autoprefixer grid: autoplace */

/*.infoGridView{
  display: grid;
  grid-gap: 5px;
  grid-auto-rows: minmax(50px, auto);
  margin-top: 20px;
}
.headerGridView {
}

.infoGridView {
}*/

.alertsGridView {
  background-color: var(--danger);
  overflow-y: scroll;

}

.andamentosGridView {
  background-color: var(--primary);
}

.indicadoresGridView {
  background-color: var(--warning);
}

.decisaoGridView {
  background-color: var(--secondary);

}

/*phone-only 599 */ /*tablet-portrait-down 600*/
/*@media (max-width: 599px) {
  .outerGridView {
    display: grid;
    grid-template-columns: 1fr;
  }

  .headerGridView {
    grid-column: 1;
    grid-row: 1;
  }

  .infoGridView {
    grid-column: 1;
    grid-row: 2;
  }

  .radarGridView {
    grid-column: 1;
    grid-row: 3/9;
  }

  .alertsGridView {
    grid-column: 1;
    grid-row: 9/12;
  }

  .andamentosGridView {
    grid-column: 1;
    grid-row: 12/16;
  }

  .indicadoresGridView {
    grid-column: 1;
    grid-row: 16 / 21;
  }

  .decisaoGridView {
    grid-column: 1;
    grid-row: 21 / 26;
  }
}

/*phone-only 599 */ /*tablet-portrait-down 600*/
/*@media (min-width: 600px) {
  .outerGridView {
    grid-template-columns: repeat(2, 1fr);
  }

  .headerGridView {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .infoGridView {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .radarGridView {
    grid-column: 1;
    grid-row: 3/9;
  }

  .alertsGridView {
    grid-column: 2;
    grid-row: 3/9;
  }

  .andamentosGridView {
    grid-column: 1 / 3;
    grid-row: 9/13;
  }

  .indicadoresGridView {
    grid-column: 1 / 2;
    grid-row: 13 / 18;
  }

  .decisaoGridView {
    grid-column: 2 / 3;
    grid-row: 13 / 18;
  }
}

/*tablet-landscape-down desktop-up 1200 big-desktop-up 1800 */
/*@media (min-width: 900px) {

  .resumeGridView{
    grid-column: 2;
    grid-row: 1/6;
  }

  .radarGridView {
    grid-column: 3;
    grid-row: 1/6;
  }

  .alertsGridView {
    grid-column: 4;
    grid-row: 1/6;
  }

  .andamentosGridView {
    grid-column: 3 / 5;
    grid-row: 6/10;
  }

  .indicadoresGridView {
    grid-column: 3 / 4;
    grid-row: 10 / 15;
  }

  .decisaoGridView {
    grid-column: 4 / 5;
    grid-row: 10 / 15;
  }
}*/

.change-mode-button {
  position: absolute;
  top: 7vh;
  right: 0;
}