@import '../themes/index.css';

.outerView {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: calc(100vh - 2 * var(--pagePadding));
    justify-content: space-between;
    overflow: hidden;
    padding: var(--pagePadding);
  }

  .mainView {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 3;
  }

  .headerView {
    display: flex;
    height: 10vh;
    justify-content: space-between;
    min-height: 30px;
    padding: var(--elementPadding) 0;
  }

  .alertsView {
    flex: 1;
    margin-left: var(--pageMargin);
  }

  .infoView {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
  }
