@import "../themes/index.css";

.outerView {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: calc(100vh - 2 * var(--pagePadding));
    justify-content: space-between;
    overflow: hidden;
    padding: var(--pagePadding);
  }

  .mainView {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 3;
  }

  .headerView {
    flex-direction: row;
    justify-content: space-between;
    padding: var(--elementPadding) 0;
  }

  .alertsView {
    background-color: var(--danger);
    flex: 1;
    margin-left: var(--pageMargin);
    overflow-y: scroll;
  }

  .infoView {
    flex: 1;
    overflow-y: scroll;
  }
