.today-outer {
  display: flex;
  flex-direction: column;
  grid-area: today;
  position: relative;
  overflow: hidden;
}

.today-header {
  display: flex;
  align-items: center;
  height: 25%;
}

.today-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 75%;
  width: 65%;
  z-index: 1;
}

.today-textArea {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

.today-textArea-paragraphWrapper {
  color: var(--dark);
  font-family: var(--defaultFont);
  font-size: var(--titleParagraphToday);
  text-align: justify;
  margin: 0;
}

.today-robotPic {
  align-items: flex-end;
  display: flex;
  height: 80%;
  width: 50%;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.today-spinner {
  align-items: center;
  display: flex;
  width: 100%;
  height: 75%;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.today-btn{
  width: 234px;
  height: 40px;
  color: var(--dark);
  background-color: var(--pt-blue);
  border: 6px var(--pt-blue);
  font-size: 16px ;
  text-transform: uppercase;
  display: none;
}

/* TABLETS */
@media (min-width: 481px) and (max-width: 1025px) {
  .today-robotPic {
    height: 70%;
  }

  .today-content {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .today-robotPic {
    height: 50%;
  }
  .today-content {
    width: 50%;
  }
  .today-textArea-paragraphWrapper {
    font-size: var(--titleParagraphToday);
  }

}