.dialog-box {
  padding: 8px 20px 20px 20px;
  text-align: justify;
}

.dialog-box p {
  font-size: var(--smallFont);
}

.dialog-box button {
  border: 0;
  border-radius: 4px;
  padding: 4px 12px;
  margin-top: 4px;
  margin-bottom: 24px;
}

.dialog-box-yes-btn {
  float: left;
  margin-left: 16px;
}

.dialog-box-no-btn {
  float: right;
  margin-right: 16px;
}
