.profile-close {
  text-align: center;
  position: absolute;
  font-size: 3em;
  bottom: -9vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.profile-close button {
  display: contents;
  font-size: 2em;
  color: #ffffff;
}

.investigatedProfile-outer {
  -webkit-box-shadow: inset 0px 0px 0px 0px #cfcfcf;
  -moz-box-shadow: inset 0px 0px 0px 0px #cfcfcf;
  box-shadow: inset 0px 0px 0px 0px #cfcfcf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50vw;
  height: 70vh;
  position: relative;
}

.investigatedProfile-outer .spinner--large {
  align-self: center;
  justify-self: center;
}

.investigatedProfile-header {
  width: 100%;
  background-color: #bddff0;
  padding: 10px;
  box-sizing: border-box;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-top: -32px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.investigatedProfile-header h2 {
  width: 100%;
  margin: 0;
}

.investigatedProfile-header .investigatedProfile-details {
  flex: 4;
}

.investigatedProfile-details {
  color: #8998ac;
}

.investigatedProfile-details span {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

.investigatedProfile-details strong {
  color: var(--darkBlue);
}

.similar-profiles-arrow {
  opacity: 1;
  display: inline-block;
  border-width: var(--selectorArrowSize);
  border-style: solid;
  border-color: var(--darkBlue) transparent transparent transparent;
  background-color: transparent;
  position: relative;
  padding: 0;
  width: 0;
  margin: 4px 8px -4px 8px;
  cursor: pointer;
  transition: transform 1s;
}

.similar-profiles-arrow--rotated {
  transform: rotate(-180deg) translateY(4px);
}

.similar-profiles-btn {
  cursor: default;
  border-radius: 4px;
  background-color: transparent;
  border: 0;
  padding: 2px 4px;
  font-weight: bold;
  height: min-content;
}

.similar-profiles-list {
  width: 100%;
  display: flex;
  overflow: scroll;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0;
  flex: 0;
}

.similar-profiles-list span {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

.similar-profiles-list--visible {
  opacity: 1;
  flex-basis: content;
  transition: all 1s;
  cursor: pointer;
}
.similar-profiles-list button {
  font-size: var(--smallFont);
  min-width: 33%;
  height: 98%;
  background-color: #f8f9fb;
  border: 0;
  border-radius: 2px;
  margin: 2px;
  text-align: left;
}

.investigatedProfile-tableWrapper {
  overflow-y: auto;
  width: 100%;
  flex: 4;
  max-height: 60%;
  padding: 8px;
  box-sizing: border-box;
}
