@import '../styles.css';

.page-tramitacao {
    grid-area: processingTime;
    display: flex;
}

.processingTimeChart {
    display: flex;
    flex-direction: column;
    width: 200px;
}
.tramitacao-texts {
    max-width: 500px;
}