@import '../styles.css';

.page-tramitacao {
    grid-area: processingTime;
    display: flex;
}

.processingTimeChart {
    display: flex;
    flex-direction: column;
}
.tramitacao-texts {
    max-width: 500px;
}
.main-box-time{
    display: flex;
}

@media (min-width: 481px) and (max-width: 1025px) {
    .infoGridView {
     
    }
  }