.pageTramitacao {
  display: flex;
  flex-direction: column;
  max-width: 833px;
  overflow: hidden;
  min-height: 100px;
}

.spinnerWrapper {
  /* this padding is to centralize the spinner in modal */
  padding: 0 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ptHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
  padding: 24px 6px 6px 24px;
  background-color: var(--lightBlue);
}

.ptHeaderContent h2 {
  font-size: calc(var(--titleFontSize) * 0.8);
  text-transform: uppercase;
  margin: 0;
}

.ptHeaderContent p {
  font-size: calc(var(--defaultFontSize) * 1.1);
  margin-top: 3px;
}

.ptGraph {
  display: flex;
  align-items: center;
  padding: 10px;
}

.ptGraphWrapper {
  width: 65%;
  height: 340px;
}

.ptGraphLabels {
  width: 35%;
}

.ptLegends {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  margin-bottom: 20px;
}

.ptLegendsIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.ptLegendsText {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 5;
  color: var(--grayTexts);
  font-size: var(--smallFont);
  margin-left: 10px;
}

.ptLegendsHighlight {
  font-size: var(--defaultFontSize);
  margin-bottom: 6px;
}

.ptLegendsHighlight span:first-child {
  font-size: calc(var(--defaultFontSize) * 1.6);
  margin-right: 7px;
}

.colorTurquoise {
  color: var(--pt-turquoise);
}

.colorPink {
  color: var(--pt-pink);
}

.colorGreen {
  color: var(--pt-green);
}

.colorPurple {
  color: var(--pt-purple);
}

/* TABLETS AND SMALL SCREENS */
@media (min-width: 481px) and (max-width: 1025px) {
  .ptGraph {
    flex-direction: column;
    padding: 0;
  }

  .ptGraphWrapper {
    height: 300px;
  }

  .ptGraphLabels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 65%;
  }

  .ptLegends {
    height: auto;
  }

  .ptHeader p {
    width: 80%;
  }
}

/* PHONES */
@media (max-width: 480px) {
  .ptHeader {
    flex-direction: column;
    gap: 0;
  }

  .ptHeaderContent h2 {
    font-size: calc(var(--titleFontSize) * 0.6);
  }

  .ptHeaderContent p {
    font-size: var(--defaultFontSize);
  }

  .ptGraph {
    flex-direction: column;
    padding: 0;
  }

  .ptGraphWrapper {
    width: 100%;
    height: 210px;
  }

  .ptGraphLabels {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    padding-left: 50px;
  }

  .ptLegends {
    width: 40%;
  }

  .ptLegendsHighlight span:first-child {
    font-size: calc(var(--defaultFontSize) * 1.4);
  }
}


@media (max-width: 768px) {
  .pageTramitacao {
    overflow-y: scroll;
    height: 70vh;
  }
}
