.pageTramitacao {
  display: flex;
  flex-direction: column;
  max-width: 833px;
  overflow: hidden;
  min-height: 100px;
}

.spinnerWrapper {
  /* this padding is to centralize the spinner in modal */
  padding: 0 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ptHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
  padding: 24px 6px 6px 24px;
  background-color: var(--lightBlue);
}

.ptHeaderContent h2 {
  color: var(--darkBlueModal);
  font-size: var(--modal-title-font-size);
  text-transform: uppercase;
  margin: 0;
  font-weight: 900;
}

.ptHeaderContent p {
  font-size: var(--modal-default-font-size);
  margin-top: 3px;
}

.ptGraph {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.ptGraphWrapper {
  width: 65%;
  height: 340px;
}

.ptGraphSeparator{
  width: 5px;
  height: 50vh;
  border: 2px var(--grayDivisor);
  border-right-style: dashed;
  align-self: center;
  margin-right: 10rem;
}
.ptGraphLabels {
  width: 35%;
}

.ptLegends {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  margin-bottom: 20px;
}

.ptLegendsIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.ptLegendsText {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 5;
  color: var(--grayTexts);
  font-size: var(--smallFont);
  margin-left: 10px;
}

.ptLegendsHighlight {
  font-size: var(--modal-default-font-size);
  margin-bottom: 6px;
  font-weight: 700;
}

.ptLegendsHighlight span:first-child {
  font-size: var(--modal-default-font-size);
  margin-right: 7px;
}

.colorTurquoise {
  color: var(--pt-turquoise);
}

.colorPink {
  color: var(--pt-pink);
}

.colorGreen {
  color: var(--pt-green);
}

.colorPurple {
  color: var(--pt-purple);
}


/* TABLETS AND PHONES */
@media (max-width: 768px) {
  .pageTramitacao {
    width: 80vw;
    height: 80vh;
    overflow: scroll;
  }

  .ptHeader {
    gap: 0;
  }

  .ptHeader svg {
    display: none;
  }

  .ptGraph {
    flex-direction: column;
  }

  .ptGraphWrapper {
    width: 100%;
    height: 200px;
  }

  .ptGraphLabels {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }

  .ptLegends {
    height: auto;
  } 
}
