.GenericTab-main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.GenericTab-upper {
  background-color: orange;
  display: flex;
  flex: 1;
}

.GenericTab-lower {
  display: flex;
  flex: 2.5;
  background-color: purple;
}

.GenericTab-lower-left {
  background-color: pink;
  flex: 1;
}

.GenericTab-lower-right {
  background-color: blue;
  flex: 1;
}
