.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row;
  overflow: show;
  margin-bottom: 3vw;
}
.process-item {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.process-item--selected {
  position: relative;
}
.process-item--selected::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top-width: 10px;
  border-top-style: solid;

  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-5px, 0);
}

.process-item--ate-20-dias::after {
  border-top-color: var(--primary);
}

.process-item--20-a-30-dias::after {
  border-top-color: var(--warning);
}

.process-item--30-ou-mais-dias::after {
  border-top-color: var(--danger);
}

.process-item--selected-- .process-item-days {
  margin-left: 1.5vw;
}
.process-count {
  font-size: var(--spotlightSize);
  letter-spacing: 0;
  color: var(--gray);
  font-family: var(--spotlightFont);
  font-weight: var(--spotlightWeight);
  text-align: center;
  margin-top: -0.7vw;
  text-shadow: 0 3px 6px var(--shadowColor);
}
.process-days {
  font-size: 0.8vw;
  letter-spacing: 0;
  text-transform: uppercase;
  color: var(--gray);
  font-family: var(--spotlightFont);
  text-align: center;
  margin-top: -0.9vw;
}
