.dropdownAlerts {
  opacity: 0;
  height: 0;
  overflow: hidden;
  margin-left: 1.2rem;
  transition: all 0.5s ease;
  z-index: -100;
}

.teste {
  position: relative;
  z-index: 100;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-20px);
    height: 0;
  }
  100% {
    transform: translateX(0);
    height: auto;
  }
}

.openDropdown {
  animation-name: fade, slide;
  animation-duration: 100ms, 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear, cubic-bezier(0.23, 1, 0.32, 1);
  animation-delay: 100ms, 0;
}

@keyframes fade_reverse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide_reverse {
  0% {
    transform: translateX(0);
    height: auto;
  }
  100% {
    transform: translateX(-20px);
    height: 0;
  }
}

.closeDropdown {
  animation-name: fade_reverse, slide_reverse;
  animation-duration: 500ms, 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear, cubic-bezier(0.23, 1, 0.32, 1);
}

.container-dropdow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdow-icon {
  align-items: center;
  background-color: var(--danger);
  border-radius: 20px;
  color: var(--white);
  display: flex;
  font-weight: bold;
  justify-content: center;
}

.dropdow-container > button {
  border: none;
}

.dropdow-container > button > span::after {
  visibility: visible;
  opacity: 1;
  content: '';
  border-width: var(--selectorArrowSize);
  border-style: solid;
  border-color: var(--white) transparent transparent transparent;
  position: absolute;
}

.dropdownBtn {
  border: none;
  background-color: var(--white);
  padding: 0;
  width: 102%;
  margin-left: -9px;
}

.showMoreAlerts {
  border-radius: 7px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  box-shadow: 0px 3px 8px #00000029;
  margin: 1vh;
  margin-left: 1.2vh;
  border: 0;
  min-height: 75px;
  width: calc(100% - 2.2vh);
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background-color: var(--white);
}

.showMoreAlerts:after {
  visibility: visible;
  opacity: 1;
  content: '';
  border-width: var(--selectorArrowSize);
  border-style: solid;
  position: absolute;
  border-color: transparent transparent transparent transparent;
  margin: 6px 2px 0px 4px;
  border-top-color: inherit;
}
