.navBarLeftContent{
    position: fixed;
    inset: 0px;
    width: 45px;
    background-color: #154763;
}
.navBarLeftContent button{
    margin: 5px;
    margin-top: 15px;
}
.logoutBtnVisible {
    opacity: 1;
    transition: opacity 1s;
    cursor: pointer;
    border-radius: 4px;
    color: var(--grayTexts);
    background-color: var(--grayLight);
    border: 0;
    font-size: var(--smallFont);
    padding: 2px 4px;
    font-weight: bold;
    height: 20px;
  }
  
  .logoutBtnVisible:hover {
    background-color: var(--danger);
    color: var(--white);
  }
  .logoutBtnVisibleIntro{
    margin-top: 450px;
  }