.tableStyle {
  color: var(--grayPagination);
  font-size: var(--smallFont);
  table-layout: fixed;
  width: 100%;
}

.tBodyStyle tr:nth-child(even) {
  background-color: #f8f9fb;
}

.tBodyStyle tr:nth-child(odd) {
  background-color: var(--white);
}

.tHeadStyle tr {
  background-color: #f8f9fb;
  color: #39475b;
}

.thStyle {
  padding: 0.62rem;
  font-weight: 400;
  text-align: center;
}

.tdStyle {
  padding: 0.31rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  text-align: center;
}

/* PHONES */

@media (max-width: 480px) {
  .tableStyle {
    table-layout: fixed;
    width: 100%;
  }

  .tableStyle td button {
    font-size: 0.7rem;
  }

  .thStyle {
    font-size: 0.56rem;
    text-align: center;
  }

  .tHeadStyle {
    width: 100vw;
  }

  .tdStyle {
    text-align: center;
    min-width: 45%;
    font-size: 0.56rem;
  }
}
