.tableStyle {
  color: var(--grayPagination);
  table-layout: fixed;
  width: 100%;
  font-size: clamp(12px, 1.2vh, 14px);
}

.tBodyStyle tr:nth-child(even) {
  background-color: #f8f9fb;
}

.tBodyStyle tr:nth-child(odd) {
  background-color: var(--white);
}

.tHeadStyle tr {
  background-color: #f8f9fb;
  color: #39475b;
}

.thStyle {
  padding: 10px;
  font-weight: 400;
  text-align: center;
}

.tdStyle {
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  text-align: center;

}


/* PHONES */

@media (max-width: 480px) {
  .tableStyle {
    table-layout: fixed;
    width: 100%;
  }

  .tBodyStyle td {
    min-width: 45%;
  }

  .thStyle {
    font-size: 9px;
    text-align: left;
  }
  .tHeadStyle{
    width: 100vw;
    display: inherit;
  }
  .tdStyle{
    text-align: left;
  }

}