.mainInvestigatedOuter {
  grid-area: mainInvestigated;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-top: 20px;
}

.mainInvestigatedTableWrapper {
  overflow-y: auto;
  width: 100%;
}

.investigatedProfileBtn {
  color: var(--grayPagination);
  font-size: var(--smallFont);
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  border-radius: 4px;
  border: 0;
  padding: 0;
  background: transparent;
  text-decoration: underline;
}
