.actionButton-outer {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border: none;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.actionButton-outer span {
  color: white;
  text-transform: uppercase;
  font-size: var(--smallFont);
  font-weight: bold;
  padding: calc( 0.5 * var(--smallFont));
  text-align: center;
}
