.newParquetModalWrapper{
    height: 80vh;
}

.newParquetModalImg{
    height: 100%;
}

@media (max-width: 500px) {
    .newParquetModalWrapper{
        height: 100%;

    }

    .newParquetModalImg{
        max-width: 100%;
    }
}
