.introOuter {
  border-radius: 15px;
  -webkit-box-shadow: inset 0px 0px 0px 0px #cfcfcf;
  -moz-box-shadow: inset 0px 0px 0px 0px #cfcfcf;
  box-shadow: inset 0px 0px 0px 0px #cfcfcf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  height: 74vh;
  width: 75vw;
  background-color: #ffffff;

}

.introductionIntro{
  height: 32vh;
  background-color: #bddff0;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.introductionInfo{
  padding: 36px;
}
.introductionInfo p{
  font-size: 15px;
  font-family: var(--defaultFont);
  letter-spacing: 0px;
  color: #3b3b3b;
  
}
.introductionTexts {
  padding: 0px;
  margin-top: 40px;
  max-width: 480px;
}

.introductionTexts span {
  margin-top: 2px;
  display: inline-block;
  background-color: #f8bd6c;
  border-radius: 4px;
  padding: 4px;
  font-weight: bold;
}

.introductionIntro h2 {
  font-size: 35px;
  font-family: var(--defaultFont);
  font-weight: 900;
  letter-spacing: 0px;
  color: #374354;
  margin-top: 4px;
  margin-bottom: 0px;
}
.introductionIntro p {
  font-size: 15px;
  font-family: var(--defaultFont);
  letter-spacing: 0px;
  color: #3b3b3b;
}

.promotronIcon img {
  height: 32vh;
}

@media (max-width: 1024px) {
  .introOuter{
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    
  }  
}
