.introOuter {
  border-radius: 15px;
  -webkit-box-shadow: inset 0px 0px 0px 0px #cfcfcf;
  -moz-box-shadow: inset 0px 0px 0px 0px #cfcfcf;
  box-shadow: inset 0px 0px 0px 0px #cfcfcf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  width: 75vw;
  background-color: #ffffff;
}
.introductionIntro{
  height: 28vh;
  background-color: #bddff0;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.introductionInfo{
  padding: 1.0rem 2.25rem 1rem 2.25rem;
}
.introductionInfo p{
  font-size: 1rem;
  font-family: var(--defaultFont);
  letter-spacing: 0px;
  color: #3b3b3b;
}
.introductionTexts {
  padding: 2.25rem;
}
.introductionTexts span {
  display: inline-block;
  background-color: #f8bd6c;
  border-radius: 0.25rem;
  padding: 0.25rem;
  font-weight: bold;
}
.introductionIntro h2 {
  font-size: 2rem;
  font-family: var(--defaultFont);
  font-weight: 900;
  letter-spacing: 0px;
  color: #374354;
  margin-top: 0px;
  margin-bottom: 0px;
}
.introductionIntro p {
  font-size: 0.938rem;
  font-family: var(--defaultFont);
  letter-spacing: 0px;
  color: #3b3b3b;
}
.promotronIcon img {
  height: 27vh;
}

.highlighted {
  background: #AFE0F1;
}

@media (max-width: 1024px) {
  .introOuter{
    display: flex;
    flex-direction: column;
    height: 85vh;

  }  
  .introductionIntro{
    height: 41vh;
  }
}
