@import '../styles.css';

.page-success-indicators{
    grid-area: indicators;
    font-family: var(--defaultFont);
    color: var(--darkBlue);
    font-size: 14px;
    font-weight: var(--subtitleWeight);
}