@import '../styles.css';

.page-success-indicators{
    grid-area: indicators;
    font-family: var(--defaultFont);
    color: var(--darkBlue);
    font-size: 9px;
    font-weight: var(--subtitleWeight);
    overflow-y: scroll;
}
.page-success-indicators p{
    font-size: 1.2vh
}
.box-chart-success {
    height: 40px;
    background-color: brown;
}
